[2019-09-16 09:49] znerd opened #4 "Explain relationship with OWASP dependency check"
Does this project have any relationship with the OWASP dependency check project? See:
- https://www.owasp.org/index.php/OWASP_Dependency_Check

Specifically:

1. Functionally, is it possible to leverage this information when performing a check using the aforementioned OWASP tooling, and

2. technically, can this type of data store be accessed from the OWASP dependency check tool?

[2019-09-16 10:51] copernico commented on #4
Hi, the two tools share the same goal of helping developers to consume securely 3rd-party open-source components.

The two tools however follow a fundamentally different approach: whereas OwaspDC uses string-matching on metadata to map vulnerabilities to software artifacts, the Vulnerability Assessment Tool uses source-code matching to determine if the very *vulnerable fragment* of a library is ac

[2019-09-16 11:06] #4 closed

[2019-09-16 15:15] znerd commented on #4
@copernico : It does. Thanks a lot!

[2019-09-16 15:23] copernico commented on #4
@znerd You're welcome ;-)

[2020-06-19 15:12] copernico opened #6 "Provide interactive support for creating a new statemenT"
A comand like create-statement should provide a UI to guide the user in entering the necessary data. This could be implemented as a multi-step form, on the CLI, in a browser-based app, or both.

[2020-06-19 15:15] copernico opened #7 "Document usage scenarios and corresponding workflows"
## Creation of statements
As a user that found information about a particular vulnerability, I want to create a corresponding statement; after having checked if other statements about that vulnerability exist already in one of my sources, I want the statement to be validated and then published on my own vulnerability repository.
After that, I also want to produce a script to import to my Steady ba

[2020-06-19 15:31] copernico opened #8 "Specify expected behaviour of a soft policy"
The strict policy refuses to reconcile statements about the same vulnerability that come from different sources.

We need another policy that is able to automatically reconcile statements about the same vulnerability.

What is the expected behaviour of such policy?

[2020-06-22 07:06] copernico opened #9 "build documentation automatically"
At each PR, PUSH: make sure that the documentation (gh-pages) are built automatically correctly (Optional: check that they contain no dead links).

[2020-06-23 05:33] sbs2001 opened #10 "Link mentioned in README to download kaybee binary is not working"
https://github.com/SAP/project-kb#installing-the-kaybee-tool , the link mentioned there is not working.

[2020-06-23 06:30] copernico commented on #10
Thanks for reporting this!
I will fix the link in a minute; however, since all the code has just been moved to GH, the actual binary files are not there yet in the first place :-)
I will build them and make them available later today.

[2020-06-23 06:31] #10 closed

[2020-06-23 06:52] copernico commented on #10
Update: binary builds are available now.

[2020-06-23 06:56] copernico opened #11 "extend source specification to include a path"
Currently a source is a 3-tuple:
- repository url
- branch
- rank

It should become a 4-tuple and include also:
- path

Example:

[code]
This will allow to point to specific folders in the git repository and ahve separate "sources" in the same branch of the same repo.

[2020-06-23 14:15] copernico commented on #11
This is tricky, without support for sparse checkouts. I think that because we chose git as our backend, we're stuck with a "one statement source per repository (branch)".

[2020-06-24 07:55] copernico opened #12 "integrate changelog generation in Makefile"
We could use something like: https://github.com/git-chglog/git-chglog

[2020-06-24 07:56] copernico commented on #12
We also need to work out reasonable conventions for commit messages (so that the generated changelog requires little to no manual edits)

[2020-06-24 16:18] copernico opened #13 "kaybee setup requires config file"
Command `kaybee setup` is supposed to be used to generate a config file, however it won't run complaining that no config file exists (unless there is one).

[2020-06-24 16:35] #13 closed

[2020-06-24 16:37] copernico commented on #11
The solution for now is to document the limitation that one can only have one source per repository-branch.

[2020-06-24 16:38] copernico commented on #9
I tried with 5c3182762d5086990d56392c52db262ee1b7cb8f

[2020-06-26 07:31] copernico opened #14 "version information not displayed on macos and windows"
`kaybee version` does not show any info.
The Makefile needs an update.

[2020-06-26 08:02] sumeetpatil opened #15 "kaybee import not working"
- go version go1.14.2 darwin/amd64
- Using the test file from [KaybeeConf](https://github.com/SAP/project-kb/blob/master/kaybee/testdata/conf/kaybeeconf.yaml) with backend URL http://localhost:8033/backend/

Command with error -
[code]

[2020-06-26 08:09] #14 closed

[2020-06-26 08:13] copernico opened #16 "check if a new release exists"
`kaybee` could check if a newer version exists on GH.
Separate command? Should also download?
Of course, the user should be able to opt-out/disable.

[2020-06-26 09:47] copernico commented on #15
Hi @sumeetpatil , thanks for reporting this. I could actually reproduce on Linux as well, this must be a regression introduced recently, I'm working on it.

[2020-06-26 09:51] #15 closed

[2020-06-26 12:16] sumeetpatil opened #17 "kaybee setup fails"
Kaybee setup fails with error -
Tested on MacOS

[code]

[2020-06-26 12:27] sumeetpatil opened #18 "kaybee config for steady generates java properties file rather than json"
kaybee config for steady generates java properties metadata file for commits rather than json file
Example -
`kaybee export -c kaybeeconf_steady.yaml -t steady -f .kaybee/imported/HTTPCLIENT-1803/statement.yaml -o test2.sh`
`./test2.sh`
`cd HTTPCLIENT-1803`
`tree -L 2 `
[code]

[2020-06-26 12:35] copernico commented on #18
Basically this:

[code]
should be rendered as this:

[code]

[2020-06-26 12:44] copernico opened #19 "setup -f does not overwrite existing config file"
The `-f` flag of the `setup` command is simply ignored.

[2020-06-26 12:48] copernico commented on #18
This is fixed in 589a5cf, but we need to fix #17 first in order to make this meaningful.

[2020-06-26 12:48] copernico commented on #18
BTW: the filename is `metadata.json`, the same as the top-level metadata file.

[2020-06-26 13:08] copernico commented on #18
Fixed in v0.6.0

[2020-06-26 13:08] #18 closed

[2020-06-26 13:57] #19 closed

[2020-06-26 15:50] copernico commented on #16
Implemented in 0.6.1

[2020-06-26 15:51] #16 closed

[2020-06-27 13:38] copernico opened #20 "How to ensure that conflicting statements are reconciled only once?"
Scenario:

A statement s_1 and a statement s_2, from sources S_1 and S_2 respectively, are conflicting. With some policy (or via manual intervention) they are reconciled and the result is statement s_3.

The next day, `kaybee merge` is run again, how to deal with the same conflict? Shall we keep a pointer to the last commit that was considered from each source so that reconciliation is not done ag

[2020-06-29 07:29] copernico commented on #17
The issue is still present in 0.6.2 (tested on MacOS).

[2020-06-29 13:35] copernico commented on #17
# Temporary workaround

1. Copy [this file](https://github.com/SAP/project-kb/blob/master/kaybee/internal/tasks/data/default_config.yaml)to the directory where you have the `kaybee` binary
2. Rename the file as `kaybeeconf.yml`
3. Change the backend entry to the actual URL of your Steady backend

[2020-06-29 14:15] copernico commented on #17
Fixed in 0.6.3

[2020-06-29 14:15] #17 closed

[2020-06-29 17:32] copernico commented on #6
tview could be a good candidate for a cli-based UI

[2020-07-01 16:26] copernico opened #21 "Add `reason` field to Fixes in Statement structure"
This will allow us to keep the general notes field for text that concerns the vulnerability itself, whereas information about where and how the fix commits were found can be kept in the new field.

[2020-07-01 16:27] copernico opened #22 "Provide support for interactive statement reconciliation"

[2020-07-01 16:29] copernico commented on #22
When merge cannot reconcile conflicting statements, the user will be asked to reconcile them manually.
This could be a separated command, such as: `kaybee reconcile <vuln-id>` or just a special policy that can be called as usual:
`kaybee merge -p interactive`.

[2020-07-01 16:33] copernico commented on #20
Proposed solution (thanks @henrikplate !):

keep track of the time when statements about a given vuln. were last reconciled; then, compare timestamp of each candidate statement with the last resolution timestamp (if nothing changed..., do not attempt reconciliation again).

This is not just an optimization that avoids a computation that will anyway produce the same result: this is especially neede

[2020-07-01 16:34] copernico commented on #8
Decision: for now, this is not a priority. In the short term, we will focus on the strict policy (already implemented) and on manual reconciliation (see #20). Once the tool is in production at SAP, we will re-evaluate our needs and draw some lessons from our experience.

[2020-07-01 16:36] copernico commented on #11
This was addressed in 0.6.4, when we decided that vulnerability statements be kept in their own branch.

[2020-07-01 16:36] #11 closed

[2020-07-01 16:37] copernico commented on #12
We now have our own simple home-made script.

[2020-07-01 17:48] henrikplate commented on #20
Wouldn't it be possible to just keep the timestamp of the last run of kaybee (instead of the last reconciliation of a given vulnerability)?

[2020-07-01 19:41] copernico commented on #20
Yes, and that's easier to implement but the finer-grained approach might be useful in practice:

if we have one `last_reconciled` timestamp per vulnerability, we can just set that timestamp to 0 and reconcile just that vulnerability again. If we do the same for the `last_kaybee_run` timestamp, all reconciliations will be considered obsolete and be re-run, you agree?

[2020-07-01 19:47] #8 closed

[2020-07-02 08:50] copernico opened #23 "Refactoring: move the export scripts out of the main config file"
We could keep in the config file just a configuration that says in which folder the tool can find "exporter definitions"; these will be separated one-file-per-target, so that the main configuration is much leaner. Also, the "standard" exporters could be packaged with the binary itself or created upon `kaybee setup`

[2020-07-02 12:00] henrikplate commented on #20
I thought you could force the merge for single vulnerabilities by sth. like `kaybee merge CVE-0123-4567 --force`, thereby ignoring the `last_kaybee_run` timestamp.

Anyways, together with timestamp(s) you should also remember the sources for which a past merge was done. Otherwise, the addition or removal of sources may not be reflected.

[2020-07-02 12:57] copernico commented on #20
I need to think about it, you're probably right, this simpler approach might be all we need.

As for the second part: during and after merging, the statement is annotated with some details on where it came from (basically it becomes statement + source).

[2020-07-02 13:13] henrikplate commented on #20
Regarding sources: This means you need to have the result of the large merge in order to know the source(s) it originated from? If yes, you could take the timestamp of that file as `last_reconciled`.

[2020-07-02 13:32] copernico commented on #20
For each "reconciled statement" i keep the full list of candidate statements that were considered, and for each of them, I keep the information of the source they came from. This info right now is only saved to a file for inspection purposes, but I can put that in a more long-lived data storage (an embedded sqlite db could a good solution)

[2020-07-02 13:43] copernico commented on #20
Why a single `last_run` timestamp is not enough, and we need finer, per-vulnerability , timestamps:

Imagine we run `kaybee merge -p <policyA>` (for example, policyA could be `strict`): the result is that some statements are merged and some are skipped (because the merge policy cannot reconcile them). In this case, I expect that the user can run afterwards `kaybee merge -p <policyB>` (for example,

[2020-07-08 10:02] copernico commented on #20
A simpler solution, with no timestamps involved:

When reconciling statements, we can simply check if we have already considered that set of candidates in a previous (successful) reconciliation. If at least one candidate is different, we need to reconcile, otherwise we can skip.

Checking if a statement is "new" is easy (we have an hash() method on Statements).
No timestamps are needed with this s

[2020-07-08 16:15] henrikplate commented on #20
AFAIK, you already produce a merge log. And considering sets of previously considered statements also, intuitively, covers the case of added/removed sources. All-in-all, I think it makes sense to proceed that way. And, as you say, once you work with digests, we would not need any timestamps any more.

[2020-07-24 09:13] sumeetpatil opened #26 "Import specific vulnerabilities"
There can be a scenario where a user wants to import specific vulnerabilities.
I saw that there is no import capability where users can import specific vulnerabilities. It has -n parameter where I can specify the number of vulnerabilities to be imported but cannot specify one vulnerability ID.

[2020-07-24 10:27] sumeetpatil opened #27 "Generation of PURL for affected libraries is not correct"
As per the doc - https://github.com/package-url/purl-spec, PURL should be something like - pkg:maven/org.apache.xmlgraphics/batik-anim@1.9.1 but it is generated as pkg:maven://org.apache.xmlgraphics/batik-anim@1.9.1 which is invalid.

[2020-07-24 10:28] sumeetpatil commented on #27
Also, when I use https://github.com/package-url/packageurl-java for getting different values it gives me validation exception as the PURL generated is wrong.

[2020-07-24 13:02] copernico commented on #27
Good catch,thanks!

[2020-07-25 19:59] #27 closed

[2020-08-31 16:00] copernico opened #29 "Use "reuse-tool" for licensing info"
Generate license and copyright information with the 'Reuse' tool of the Free Software Foundation Europe (FSFE)
To adopt external standards and best practices, the 'Reuse' tool of FSFE must be used to generate copyright and license information

TODOs:
- Generate the required information with the 'Reuse' tool as described here.
- Remove the notices file which was used in the past to store the SAP co

[2020-09-01 16:26] copernico commented on #9
building the documentation with GH actions keeps failing:
https://github.com/SAP/project-kb/runs/1057299993?check_suite_focus=true

[2020-09-02 10:33] copernico commented on #29
Done in rel. 0.6.6

[2020-09-02 10:33] #29 closed

[2020-09-02 15:12] cedricdangremont opened #32 "Cannot execute kaybee export"
It is not possible to generate the correct steady.sh file when using the attached statement.yaml file.
Exports does not raise any error but CVE data are not included as expected.

[steady.sh.txt](https://github.com/SAP/project-kb/files/5163158/steady.sh.txt)

[statement.yml.txt](https://github.com/SAP/project-kb/files/5163150/statement.yml.txt)

[2020-09-03 07:31] copernico commented on #32
Hi @cedricdangremont , could you post the output that you get when you run `kaybee export -t steady -d <path_to_your_statement_file>` ?

Also, is the file extension `yml` or `yaml`? I just realized that does make a difference... (BTW: I will fix this to accept both extensions)

[2020-09-03 07:33] copernico commented on #32
## temporary solution

While I am not sure I could replicate the issue exactly, I do think that if you rename the file to `statement.yaml` it might work for you.
Please @cedricdangremont let me know if that is the case on your system.

[2020-09-03 08:55] copernico commented on #32
@cedricdangremont  could you post the output of `kaybee version` here?

[2020-09-08 15:16] copernico commented on #32
Also, @cedricdangremont could you try with the Windows version of KayBee and see if you get the same issue?

[2020-09-09 16:07] copernico commented on #32
Cannot reproduce. Also, it seems that creating a statement from scratch with `kaybee create` worked fine both in Windows and Linux.

[2020-09-09 16:07] #32 closed

[2020-09-09 16:11] copernico commented on #26
The import is to be used in a rather special scenario: it's for someone who has a running Steady backend with vulnerability data and who wants to convert that to the project kb  "statement" format. My assumption is that the most common scenario is to export (that is *import* into kaybee) the entire set of vulnerabilities in the backend.

This feature is not difficult to implement and it might come

[2020-09-12 13:52] sumeetpatil opened #36 "For python, __init__ files are to be checkout as part of the shell script"
When we do a kaybee export for steady with a statement containing python Vulnerability, steady also needs  __init__ files to be checkout as part of the bash generated script. These __init__ files are then used in Steady to create valid python constructs.

[2020-09-14 14:20] copernico commented on #36
How would you do that in bash? How to determine which files to checkout exactly?
That can be added to the script easily, but we need to know how to do it manually in the first place.

[2020-09-21 07:39] #7 closed

[2020-09-21 09:31] copernico commented on #36
basically we need to implement this https://github.com/eclipse/steady/blob/fe8c6af35f887f7df98b02d9034b8d3e414588b2/repo-client/src/main/java/org/eclipse/steady/git/GitClient.java#L524 in bash

[2020-10-05 18:11] sumeetpatil opened #38 "Delete temp cloned repository from default_config.yaml"
The temporary cloned repositories take a lot of space. Delete it as soon it is consumed by KB-Importer
https://github.com/SAP/project-kb/blob/master/kaybee/internal/tasks/data/default_config.yaml

[2020-10-07 08:31] copernico commented on #38
If we delete the clone after each vulnerability, the result is that we will have to clone multiple times the repositories for which he have multiple vulnerabilities.

A better solution would be to export vulnerabilities grouping them by repository, so that we can work on all those that need a certain repository and then safely delete the clone.

**PROBLEM**: the repository may not be unique for a

[2020-10-07 08:41] copernico commented on #9
Documentation can be brought out of the scope of CI for now, we have more urgent things to do.
Building and deploying manually is not a big deal after all. We might reopen this later on.

[2020-10-07 08:41] #9 closed

[2020-10-07 11:36] copernico opened #40 "[import] implement extraction of fix-commits from NVD feeds"
The NVD does contain fix-commits for some CVEs: extract them and represent them as statements.

[2020-10-07 12:30] henrikplate opened #41 "Create statements for malicious packages"
One additional source of statements could be the list of known malicious packages maintained at https://github.com/dasfreak/Backstabbers-Knife-Collection.

It contains a file `package_index.csv` with the following columns: Type, Package Name, Affected Version, Published, Reported, Sample, Injection Component, Obfuscation, Trigger, Conditional, Targeted OS, Objective, Details, Source, Comment, Typo

[2020-10-07 15:26] copernico commented on #40
For example, this paper collects 3750 vulnerabilities from NVD (note: for some reason they rely on crawling and scraping instead of just downloading the data feeds from the NVD)

[2020-10-12 10:45] henrikplate commented on #41
The statement ID must be composed as follows: `<Package Name>-<yyyy of publicate date>`.
No statement shall be generated for CSV entries without source or without specific affected versions (which includes `*`).

[code]

[2020-10-12 13:04] copernico commented on #41
Re: IDs: fine for me, but I would add a "counter" segment to the name, in case there should be multiple "vulnerabilities" for the same component in a given year.
Something like:
[code]

[2020-10-15 12:47] serenaponta opened #43 "New export target to generate changed source code"
Add a new target to kaybee export e.g., create-changed-source-code, to generate a script that

- clones the repositories and created the before and after folders for each vulnerability
- compresses the created folders into an archive 'changed-source-code.tar.gz'

Note: the commit folders containing before and after should be removed after being compressed.

Compared to the existing steady target,

[2020-11-02 10:42] sumeetpatil opened #44 "kaybee setup gives old config file"
When I run `kaybee setup`, a default conf file is generated. The new changes are not seen as part of the conf file - [d6a59122b21a615e2455815952ba2f3c91d7cff7](https://github.com/SAP/project-kb/commit/d6a59122b21a615e2455815952ba2f3c91d7cff7#diff-633e9ec3fd757ad3b5030057e16da0b9d9b29779c3c5f992c531b560938157c5)

[2020-11-02 10:44] sumeetpatil commented on #44
Commands run -
[code]
The conf file generated does not contain the new changes

[2020-11-03 08:50] copernico commented on #44
Fixed in b763b4f1bde823bb5d42064fc2e11a36f8685a2d

[2020-11-03 08:50] #44 closed

[2020-11-03 12:05] serenaponta opened #45 "Import from Steady: commit and branch info concatenated"
For certain vulnerabilities, the branch info appears in the commit id field (concatenated to the commit, sha:branch)
e.g.:
id: 3.0.x
  commits:
  - id: aaa97cb1:3.0.x

CVE-2016-6812 CVE-2016-8739 CVE-2016-1000031

[2020-11-03 13:52] copernico commented on #45
You mean that that format comes like that from the Steady backend and kaybee should take that into account? Or is this a bug of Kaybee?

[2020-11-03 14:02] serenaponta commented on #45
Indeed the commit id comes like that from the Steady backend. Even if kaybee could take it into account and split the id, it's more up to the Steady backend to ensure that the commit id is correct. If you agree, you can close the issue as it will be taken care on Steady side.

[2020-11-03 14:20] #12 closed

[2020-11-03 14:21] copernico commented on #45
I agree, that is why I was asking :-)

Closing.

[2020-11-03 14:21] #45 closed

[2020-11-06 10:40] sumeetpatil opened #47 "Validate kaybee statements"
Kaybee statements should be validated automatically when we create a pull request
I can think of these basic validations -
1. Validate Git Commit Id
2. Validate Git branch
3. Validate PURL for affected artifacts
4. Validate Git/Svn Repository

[2020-11-06 11:37] sumeetpatil opened #48 "kaybee merge take long even with one single repository configured"
kaybee merge take long even with one single repository
**kaybee version  0.6.15**

I used the git cloned file system to do the tests. kaybeeconf.yaml contains one single repo -
`repo: file:///*********`

Git cloned file system with tar containing 577 vulnerabilities -
[code]
**It took ~25mins**

Git cloned file system without tar containing 720 vulnerabilities -
[code]
**It took ~13mins**

[2020-11-06 12:54] copernico commented on #47
Hi @sumeetpatil, you mean we should have a GH action to check these (possibly invoking something like `kaybee check <statement_file>`)?

[2020-11-06 13:12] sumeetpatil commented on #47
Yes, GH action is perfect

[2020-11-06 15:40] copernico commented on #48
I think the fact that we use Git as the underlying storage is the issue: if we accessed the files on the local filesystem (after cloning) this would be much faster. I need to validate this theory, but if it is true, we should adopt a more neutral approach to storing statements, and Git should be supported as any other storage. However, we need to get rid of the necessity of processing a (local clo

[2020-11-11 20:36] sumeetpatil commented on #48
Hi @copernico ,
It actually works fast on linux system approx 3-4mins for https://github.com/SAP/project-kb/tree/vulnerability-data-with-changed-source-code . I was using a mac. I will get you the exact numbers running the same on linux.

[2020-11-11 22:02] copernico commented on #48
Hi @sumeetpatil
thanks for the additional investigation, good to know that on Linux the issue is not as annoying. I still consider 3-4 mins too long for what the merge operation actually does, so getting rid of the unnecessary coupling with git is still on the agenda for me.
Maybe some profiling would put the final word on this?

[2020-11-12 08:23] henrikplate commented on #48
The "unnecessary coupling" only refers to the merge operation, correct? I think we should not question to use Git as storage for statements, as it comes with plenty of features, e.g., signatures and version control, that would be expensive to develop on top of other storages.

[2020-11-12 17:27] copernico commented on #48
Hi @henrikplate, I know in the meantime we have clarified this, but let me write it down as a documentation for anyone interested.

The way we use Git is more than just storing statements in a repository; we also use it to sign statements. As a matter of fact, the key entity that `kaybee` operates on are commits (not statements). Commits are signed, statements are not. It is not possible to valida

[2020-12-13 11:23] copernico opened #53 "[prospector] Improve getting-started docs"
There are several steps not documented (including installation of dependencies that are not in the requirements.txt file):
- sklearn
- spacy (+language model to be installed separately)
- matplotlib
- streamlit
- (....)

[2020-12-13 18:05] copernico opened #54 "[prospector] database creation fails"
If the binary files of the sqlite DB are not present (they should not be in Git), Prospector fails to create them.

[2020-12-14 15:43] copernico opened #55 "Can't run the same analysis twice"
When processing the same CVE twice in a row, the second run aborts with the following:

[code]

[2021-03-04 15:54] copernico commented on #53
This is now addressed by the Pipfile.

[2021-03-04 15:54] #53 closed

[2021-03-09 16:53] copernico opened #60 "[prospector] clarify use cases"
In view of an architectural overhaul of prospector, we need to clarify which use cases it is meant to serve.
This will guide the design of the APIs of a prospector backend component.

[2021-03-09 16:53] copernico opened #61 "Design backend API"

[2021-03-09 17:33] copernico commented on #60
Draft here: https://github.com/SAP/project-kb/wiki/prospector-use-cases

[2021-03-24 16:44] elanzini opened #64 "[vulnerability-data] CVE-2018-11248 patch commit"
I was checking the [statement](https://github.com/SAP/project-kb/blob/vulnerability-data/statements/CVE-2018-11248/statement.yaml) file for vulnerability CVE-2018-11248 and I noticed it points to commit https://github.com/lingochamp/FileDownloader/commit/ff240b883490a84744705f9b4165719d7633f902 while the vulnerability seems to be fixed at https://github.com/lingochamp/FileDownloader/commit/b023cc0

[2021-03-25 12:28] copernico commented on #64
Hi @elanzini , thanks for spotting this error! Indeed, the commit we have does not make any relevant changes.

Indeed, the NVD (https://nvd.nist.gov/vuln/detail/CVE-2018-11248) mentions a GH issue (https://github.com/lingochamp/FileDownloader/issues/1028) closed on May 17 2028 with https://github.com/lingochamp/FileDownloader/commit/b023cc081bbecdd2a9f3549a3ae5c12a9647ed7f

I will update the state

[2021-03-25 12:32] copernico commented on #64
BTW: I realized I misspelled your username (and family name) in the ack in the commit message, sorry about that :-|

[2021-03-25 12:32] #64 closed

[2021-03-25 12:53] elanzini commented on #64
No worries. Thanks @copernico for the quick PR 🙂

[2021-03-30 09:06] copernico opened #67 "Implement preprocessed commit database"
This component is supposed to abstract the storage of pre-processed commits so that they can be retrieved efficiently
when predicting.

[2021-03-30 09:29] chicxurug opened #68 "Commit pre-processor module"
Extraction of the existing commit pre-processing (feature extraction) code and its restructuring into a separate module.

[2021-03-30 10:50] amilankovich-slab opened #69 "Make git parsing more efficient"
The current bottleneck in Prospector runtime is parsing the .git folder to an SQL database. We might take a look at other solutions, which parse .git folders and try them and learn from them to improve the processing speed of this initial step. Example projects:
- [gitbase](https://github.com/src-d/gitbase) seems abandoned
- [gitql](https://github.com/filhodanuvem/gitql) looks good, but probably n

[2021-03-30 12:54] #60 closed

[2021-03-30 12:55] copernico commented on #60
This is redundant given #61

[2021-03-30 12:56] copernico commented on #55
This is probably fixed by now. If not, this won't be fixed anyway, given the complete rewrite that prospector is undergoing in the context of the collaborative effort of the AssureMOSS consortium (assuremoss.eu).

[2021-03-30 12:56] #55 closed

[2021-03-30 12:57] copernico commented on #54
Won't fix; prospector is being re-implemented from the ground up anyway.

[2021-03-30 12:57] #54 closed

[2021-03-30 12:58] copernico opened #70 "Design ML subsystem (model training + prediction)"
Please refer to the diagram below:

![prospector-assuremoss](https://user-images.githubusercontent.com/2268970/113604116-1e49e080-9645-11eb-925f-43632fea640b.png)

**Note**: the label on the database at the bottom of the diagram is wrong: its contents are pre-processed commits, not vectorial representations of commits (which, for most features, depend on the query).

[2021-04-02 07:43] copernico opened #73 "Redesign CLI"

[2021-04-05 09:09] Riruk commented on #70
Hi @copernico

The link "this diagram" is broken. Can I ask to reupload it?

[2021-04-05 12:23] Riruk commented on #70
First ideas for the design of the ML component.

ml folder - stores everything related to ML
ml/models folder - stores pre-trained models
ml/utils folder - stores scripts that facilitate training ML component

trainer - is responsible for the pipeline of training the models
predictor - is callable from the client

utils folder:
- ModelWizard - the class that (i) allows testing various ML models, (

[2021-04-05 12:48] copernico commented on #70
Updated link to diagram, thanks @Riruk !

[2021-04-05 17:25] copernico commented on #70
Hi @Riruk , thanks for these first ideas, this is a good starting point.
Could you write a couple of test cases to demonstrate how these classes would be used by the client code?

My comments below:

1. I am ok with ml/models, however I would make that location configurable (pretty much like the path where git repos are cloned to, configuration file location, etc)
2. the feature eng. stuff overlap

[2021-04-05 17:36] copernico commented on #69
Hi @amilankovich-slab , I committed a proof-of-concept of how the cloning (and other long-running tasks) can be delegated to a job queue. I guess the pre-processing of commits might also benefit from this.

[2021-04-06 10:09] copernico commented on #73
As far as the general design goes, I would consider this task closed; of course more arguments might need to be parsed eventually, but the general structure of the CLI is there.

[2021-04-06 10:09] #73 closed

[2021-04-06 10:11] copernico commented on #68
Based on today's discussion: the commit-preprocessor is supposed to convert git.Commit objects to datamodel.Commit objects that are ready to be stored in the DB. All preprocessing should be query-independent of course (the query dependent processing is done in the ML module)

[2021-04-06 11:23] copernico opened #74 "Switch to python 3.8"

[2021-04-06 11:26] copernico opened #75 "Integrate NVD feed endpoint"
Re-use [this implementation](https://github.com/eclipse/steady/tree/master/rest-nvd) that is part of eclipse/steady to have a local replica of the NVD feeds.

Heads-up: most likely, steady will drop that module in the future, we can just clone it in project-kb and continue from there.

[2021-04-06 16:57] copernico commented on #75
Closed with 7567d6e0af4de00f5b6a23ab2b5553acfe9df4d6

[2021-04-06 16:57] #75 closed

[2021-04-06 16:57] copernico commented on #74
done: dcf82880b95dfdcf46b1909127e68295387289fc

[2021-04-06 16:57] #74 closed

[2021-04-06 16:59] copernico commented on #61
refactored api package, splitting different parts of the API over dedicated modules (routers).
See: 7567d6e0af4de00f5b6a23ab2b5553acfe9df4d6

[2021-04-07 16:47] copernico commented on #70
Additional comment: since ML is just one tool among others, I would rather call the package after what it does, rather than what techniques it uses. The question is then, what name would best represent the goal(s) of this package? I believe something related to "matching" (an advisory recordo to a set of commits), or "ranking", "searching"...
What do you think?

[2021-04-07 21:06] Riruk commented on #70
We could use filter_rank, thank you for the suggestion.

Just wanted to mention that during our internal conversation earlier today, we unintentionally used the name "ranker" :-)

[2021-04-07 21:06] copernico commented on #67
Relevant files/modules:
- ddl (the schema of the database)
- datamodel/commit.py (the attributes of the Commit class should map onto the columns of the commit table in the db)
- commitdb/postgres.py (the save() and lookup() methods are to be aligned with the two points above)

[2021-04-07 22:23] copernico commented on #70
Good :-)
I have taken a look at your fork, I was curious :-) If I may, I would
advise on ignoring the legacy prospector code for now and not copy it over
in our new files; if something can be reused later on, you will be able to
selectively adapt it to the new structure. But if you try to force your new
design around the old code, your new design will become old before you know
it.

Also, take a l

[2021-04-08 07:26] copernico commented on #68
_(from the PR #76 thread)_
I took the liberty to start sketching some code for the `commit_preprocessor` package.
_Please note_ that I renamed it, because python does not like hyphens in package names.

The code is commented and hopefully self-explanatory. Please see in particular the files:

* `commit_preprocessor/preprocessor.py` and the first function in that file
* the test cases in `commit_pr

[2021-04-11 08:15] copernico opened #78 "GH build action not working"
For some reason, some (transitive?) dependencies are failing the build. **Note**: I _cannot_ reproduce locally.

[2021-04-11 08:17] copernico opened #79 "Move go.mod in `kaybee` folder"
Clean up the top-level folder and make it independent of kaybee and prospector (no go or python stuff).
Currently the go.mod file of kaybee is in the root folder.

[2021-04-11 13:32] #79 closed

[2021-04-11 13:36] copernico commented on #78
Fixed by 31fd2d45619c3f195e7f400f04dd26a3f9bf571e

[2021-04-11 13:36] #78 closed

[2021-04-11 13:37] copernico commented on #43
Implemented in c398fc8603c7fe5fac9e521e6127fc2c6d1626bc

[2021-04-11 13:37] #43 closed

[2021-04-13 08:12] copernico commented on #69
Let's put this issue on hold until a fully working re-implementation is ready.

[2021-04-13 08:12] #69 closed

[2021-04-13 08:29] amilankovich-slab commented on #67
assign SLAB

[2021-04-13 10:23] amilankovich-slab commented on #67
@copernico The database should store only preprocessed version of the same data (e.g. not diff, only preprocessed_diff), right?

[2021-04-13 12:29] copernico commented on #70
On thing i forgot to mention during today's call:
- there is some commit processing that is dependent on the query (= on the advisory) and will need to be done before training/predicting. Maybe this functionality can live in the commit pre-processor too, or in the filter-rank package -- to be discussed.

[2021-04-13 12:39] copernico opened #84 "Setup GH actions to run pytest"

[2021-04-13 12:54] copernico commented on #84
Working on it: #85

[2021-04-13 13:52] copernico commented on #67
Not sure, it all depends what we will use for the filter-rank module; most important for now is to have *some* features that are extracted, pre-processed, saved to the DB and available for filter-rank to use for an end-to-end proof of concept.
We need to prepare anyway to extend/tweak the set of features later on, no need to make it complete right now.

[2021-04-13 13:58] amilankovich-slab commented on #67
OK, for start I will consider any data saved to the DB as preprocessed and "ready" for filter-rank. Of course we can extend that with features and various forms of data as required.

[2021-04-13 22:35] #84 closed

[2021-04-14 09:55] copernico opened #87 "Import (or push) cms should give an option to create sources tarballs with changed files"
Right now this is achieved with the bash script generated by `kaybee export -t steady-with-changed-source-code`
but it's more logical to allow the user to achieve the same with something like: `kaybee import --make-tarballs`
or `kaybee push --make-tarballs`.

https://github.com/SAP/project-kb/blob/master/kaybee/internal/tasks/data/default_config.yaml#L221

[2021-04-14 14:55] copernico commented on #67
@amilankovich-slab can we close this for now? more commit features will certainly be added later, but we will create more specific issues for those, ok?

[2021-04-14 14:56] amilankovich-slab commented on #67
All right.

[2021-04-14 15:01] copernico commented on #67
Closing.

Maybe we can create another issue to work on the other part of pre-processing (query-specific);
that functionality can be also in the commit-preprocessor package or in the filter_rank (i would prefer the former,
although in that case a more general name for the package would be advised).

[2021-04-14 15:01] #67 closed

[2021-04-14 15:04] copernico opened #92 "Extract query-dependent commit features"
Certain commit features can only be computed based on a particular query (=they depend on the vulnerability
advisory record) and as such cannot be pre-computed and persisted in the DB.

We need a module that contains functions to extract such features and to augment datamodel.Commit instances,
so that filter_rank can consider them all.

This functionality could be in the commit-preprocessor packag

[2021-04-14 15:05] copernico commented on #68
I guess that with the work of @amilankovich-slab we can close this issue now and move to #92

[2021-04-14 20:40] copernico opened #93 "Retrieve initial set of candidate commits with filter by time interval"

[2021-04-14 20:42] copernico commented on #93
Implemented with 2efe7f474804e268bf1f2479b792f9511bdbc271 and fee3884a8ce12e6a68c0f2f79512f4e75ed8dfdd

[2021-04-14 20:42] #93 closed

[2021-04-15 08:29] chicxurug commented on #92
OK, we start working on these. @copernico , what about changing the name of the package to commit-processor that contains two separate files, the preprocessor.py (already done, which transforms a git.Commit -> datamodel.Commit) and feature_extractor.py (which transforms (datamodel.Commit, AdvisoryRecord) -> CommitFeatures)? Where CommitFeatures is a class containing each calculated feature from wh

[2021-04-15 10:55] Riruk commented on #92
Hi @chicxurug. I think we should introduce the abstraction layer that allows storing the pre-processed data in the database and then extracting features from the stored data.

How about the following process:
1. the data from the pre-processed commit could be stored in the database - this is only the preliminary pre-processing
2. then, the CommitFeatures reads the data directly from the database a

[2021-04-15 11:00] chicxurug commented on #92
Hi @Riruk . Totally agree, that's exactly what we suggest, too. However I wanted to make sure we are on the same page, so would wait for a confirmation from @copernico as well before we start.

[2021-04-15 12:34] copernico commented on #92
I agree.

I think that names should be improved globally, so please continue to propose changes (as you have done above, your proposed changes are spot on).

In this particular case, I guess we need to distinguish:

- Commits as they come from git
- Preprocessed commits that are obtained in a query-independent manner (and therefore can be processed once and for all, and later reused) --> these go

[2021-04-15 13:52] copernico commented on #92
@chicxurug Will you make a PR with (just) this structural update? Then we can continue afterwards on other PRs, but I prefer this one to be small and quick because if we keep it pending for too long we'll have issues in merging the others (conflicts)

[2021-04-15 16:28] chicxurug commented on #92
@copernico , sure. We will create a PR with this tomorrow morning.

[2021-04-15 23:06] copernico opened #94 "Implement endpoint to receive preprocessed commits from the client"
See [this sample code in the cli](https://github.com/SAP/project-kb/blob/prospector-assuremoss/prospector/client/cli/prospector_client.py#L110)

[2021-04-16 16:47] copernico opened #98 "enable testing of client (integration test) in GH action"
Currently, the tests in the client package are not executed on GH because they require
the backend to be running.

[2021-04-16 16:48] copernico opened #99 "upsert existing preprocessed commits"
Currently if there is a key conflict, the insert is ignored (but an update is the expected behaviour)

[2021-04-16 20:23] copernico commented on #94
closed with 1cc0ce1

[2021-04-16 20:23] #94 closed

[2021-04-16 20:24] copernico opened #100 "preprocessor does not extract commit timestamp"

[2021-04-16 20:34] copernico commented on #68
With #94 we have linked the client to the db, where the preprocessed commits are succesfully stored.
Closing.

[2021-04-16 20:34] #68 closed

[2021-04-17 12:20] copernico opened #102 "preprocessor does not extract set of changed files in commit"

[2021-04-17 12:27] #102 closed

[2021-04-17 12:28] copernico commented on #100
fixed with e1ca94944152a2ccd97e4b5b8f40141e359da902

[2021-04-17 12:28] #100 closed

[2021-04-17 12:39] copernico opened #103 "extract tags from commit"

[2021-04-17 12:40] #103 closed

[2021-04-19 09:47] copernico opened #108 "Implement logging (backend)"

[2021-04-19 09:54] copernico opened #109 "Make it possible to start RESTful server directly for debugging"

[2021-04-19 09:56] copernico commented on #109
This is implemented in 7e76da63dcf40181cd3c0c1f5767c6b20b9652f6

@amilankovich-slab could you check this commit? It should do exactly what you did on your side a few days ago. Also, is the readme change accurate? Thanks.

[2021-04-19 09:59] copernico opened #110 "make Dockerfile for REST backend"
It would be useful to be able to deploy the whole server-side part of Prospector using docker-compose. The restful server is currently not included, but it should.

[2021-04-19 13:08] copernico opened #113 "worker cannot update NVD feeds, plac package missing"
[code]

[2021-04-19 13:52] copernico commented on #99
@amilankovich-slab I realized that the test_upsert is not really trying to write over an existing commit.
I tried to write one such test, but I kept having strange postgres issues. Instead of wasting your time debugging what I did, may I ask to improve that test case so that it shows how to change some field (one or two, not all) of commit object that is known to be present in the DB already?

(yo

[2021-04-20 07:58] amilankovich-slab commented on #99
Can we close this based on #115?

[2021-04-20 08:45] #109 closed

[2021-04-20 08:45] #110 closed

[2021-04-20 09:19] copernico commented on #99
@amilankovich-slab yes, indeed

[2021-04-20 09:19] #99 closed

[2021-04-20 09:21] copernico commented on #92
@chicxurug I would suggest making new issues, one per missing feature, and closing this one.

[2021-04-20 09:22] copernico commented on #70
@Riruk I would suggest to close this issue and create finer-grained ones.

[2021-04-20 09:23] Riruk commented on #70
I totally agree with it. Could you close this issue?

[2021-04-20 09:35] #70 closed

[2021-04-20 09:39] copernico opened #116 "Add API tests"
This is explained here: https://fastapi.tiangolo.com/tutorial/testing/

[2021-04-20 09:59] copernico opened #118 "Implement API to get preprocessed commits from backend"
Question: how do we pass a repository as a parameter (in a way that it does not confuse the api server)?

[2021-04-20 10:36] #116 closed

[2021-04-20 19:58] chicxurug commented on #92
Agreed, closing this composite issue.

[2021-04-20 20:02] chicxurug commented on #92
@copernico I can't close the issue myself (lack of permission?). Would you close it for us, please? We'll open new, smaller ones.

[2021-04-20 20:20] #92 closed

[2021-04-21 07:14] copernico opened #119 "Basic web GUI for Prospector"
This could be a simple page where one can enter (some of) the basic input parameters of the `client.cli.prospector()` function and
submit the corresponding "search" job to the backend. The immediate response from the backend contains a job `id` that allows the results to be polled (e.g., every second or so) and eventually the results can be displayed on the page, with clickable links and collapsib

[2021-04-21 10:33] chicxurug opened #120 "New features to the processor module that checks commit intervals based on tags"
A set of functions for extracting features, like if commit falls in the commit interval determined based on the tags that (seem to) correspond to the versions mentioned in the advisory.

[2021-04-21 10:34] chicxurug commented on #120
I cannot edit the labels for this issue, please add assuremoss, component/prospector. Thanks

[2021-04-23 07:32] Szamos96 opened #121 "Commit falls in the commit interval determined based on the tags"
Commit falls in the commit interval determined based on the tags that (seem to) correspond to the versions mentioned in the advisory.

[2021-04-23 07:34] idarav opened #122 "Other CVE in message"
Checks whether the vulnerability ID is NOT in the commit message but a differint ID is

[2021-04-23 07:34] Szamos96 opened #123 "Vulnerability timestamp"
Add the vulnerability timestamp as a somewhat normalized component to allow for learning

[2021-04-23 07:35] idarav opened #124 "N hunks"
Count the number of hunks

[2021-04-23 07:35] idarav opened #125 "AVG hunk size"
Compute the average hunk size

[2021-04-23 07:35] Szamos96 opened #126 "Reachability score"
A score is provided when a commit is reachable and within n days, and the score equals 1.0 - (0.01 * n days difference)

[2021-04-23 07:35] idarav opened #127 "N changed files"
Count the number of changed files

[2021-04-23 07:35] idarav opened #128 "Git issue reference"
Check whether the commit message refers to an issue by means of a # followed by digits

[2021-04-23 07:35] Szamos96 opened #129 "Commit time distance after"
Used to compute a feature reflecting the distance from a commit and the vulnerability publication data,
through comparing timestamps. The score is equal to 0.0 if the commit is before the release date,
and between 0.5 and 1.0 if the commit was after the vulnerability release.
The closer the commit is to the release, the higher the value.

[2021-04-23 07:35] idarav opened #130 "Contains jira reference"
Check whether the commit message refers to a Jira issue by means of a NAME-REF

[2021-04-23 07:35] idarav opened #131 "Vulnerability id in message"
Checks whether the vulnerability ID is in the commit message

[2021-04-23 07:36] idarav opened #132 "Path similarity score"
Provides a score for the found path and the changed files.

[2021-04-23 07:36] Szamos96 opened #133 "Referred to by pages linked from the advisory"
Checks whether the commit is mentioned in any of the pages for which the advisory contains a link.

[2021-04-23 07:36] Szamos96 opened #134 "Commit time distance before"
Used to compute a feature reflecting the distance from a commit and the vulnerability publication data,
through comparing timestamps. The score is equal to 0.0 if the commit is after the release date,
and between 0.5 and 1.0 if the commit was before the vulnerability release.
The closer the commit is to the release, the higher the value.

[2021-04-23 07:37] Szamos96 opened #135 "Lexical similarity"
This one is a bit complex, check legacy implementation.
https://github.com/FrontEndART/project-kb/blob/master/prospector/rank.py#L673

[2021-04-23 07:37] Szamos96 opened #136 "Referred to by advisory record"
Checks whether the commit id is referred by the NVD record

[2021-04-23 07:39] copernico commented on #135
SAP is working on this.

[2021-04-27 07:46] chicxurug opened #143 "Refactoring feature_extractor in the commit processor module"
Couple of structural improvements are suggested:

- Change the arguments of extract_* methods to Commit and AdvisoryRecord instead of primitive types
- Move the simple data field initializations (relying only on git.Commit fields) to the dataclass's __post_init__() method

[2021-04-28 17:24] copernico commented on #127
closed with #142

[2021-04-28 17:24] #127 closed

[2021-04-28 17:24] copernico commented on #130
Work in progress in #138

[2021-04-28 18:42] #61 closed

[2021-04-29 10:06] copernico opened #144 "promote the 'git-explorer' module to a separately installable package"
The git-explorer package can be used in different projects, so it is useful to make it a distinct "installable", e.g., with something like
`git+https://git.repo/some_repo.git#egg=version_subpkg\&subdirectory=repo`

[2021-05-04 18:45] copernico opened #145 "[rl-readme_file-2] README is incomplete. Please check the following sections: Download and Installation, Licensing"
For details please see our wiki page at https://wiki.wdf.sap.corp/wiki/display/ospodocs/Repository+Linter+Findings#RepositoryLinterFindings-Readme(rl-readme_file-XX)

[2021-05-04 18:45] copernico opened #146 "[rl-contributor_file-2] Contributor file doesn't include correct information about the Developer Certificate of Origin (DCO)!"
For details please see our wiki page at https://wiki.wdf.sap.corp/wiki/display/ospodocs/Repository+Linter+Findings#RepositoryLinterFindings-Contributions(rl-contributor_file-XX)

[2021-05-04 19:01] copernico opened #147 "Add feature to indicate if a commit has a "twin""
It is common, for "important" commits, to be back-ported to other branches; in particular, security fixes can be often found replicated across a number of branches, so this characteristic can be useful to find them.

Open questions:
- since commits might not be identical (the code might differ across branches), we need some measure of similarity that is tolerant to some differences
- the similarit

[2021-05-05 12:38] chicxurug commented on #131
It is already done, @copernico could you please close this issue?

[2021-05-05 12:39] chicxurug commented on #130
It is already done, @copernico could you please close this issue?

[2021-05-05 12:39] chicxurug commented on #128
It is already done, @copernico could you please close this issue?

[2021-05-05 12:40] chicxurug commented on #125
It is already done, @copernico could you please close this issue?

[2021-05-05 12:40] chicxurug commented on #124
It is already done, @copernico could you please close this issue?

[2021-05-05 12:42] chicxurug commented on #121
It is already done, @copernico could you please close this issue?

[2021-05-05 12:44] #131 closed

[2021-05-05 12:44] #121 closed

[2021-05-05 12:45] #130 closed

[2021-05-05 12:45] #128 closed

[2021-05-05 12:45] #125 closed

[2021-05-05 12:45] #124 closed

[2021-05-05 12:45] #120 closed

[2021-05-06 09:11] copernico commented on #122
Closed with #148

[2021-05-06 09:11] #122 closed

[2021-05-06 12:28] copernico commented on #147
Could be that Chapter 3 of Ullman's MMDS is what we need?

http://infolab.stanford.edu/~ullman/mmds/book.pdf

[2021-05-07 10:07] chicxurug commented on #143
To be able to use the __post_init__() function in the CommitFeatures class we should add the @dataclass decorator. The CommitFeatures class already inherit from the pydantic.BaseModel, which is not compatible with the @dataclass decorator. Either of them is fine, but we cannot use both at the same time. On the other hand, it is very likely that we could achieve the same functionality without the @

[2021-05-11 09:06] Riruk opened #150 "Apply rules to annotate candidates (in addition to the ML part of the filter-rank module)"
We could use the hard-coded rules to identify some commits relevant to security fixes.

For example: if a commit message says that this commit is a fix for a particular CVE, then it is a very strong candidate for the commit to be related to the vulnerability fix.

I will create a PR for the implementation part and I propose to have this issue to discuss possible hard-coded rules that we could crea

[2021-05-11 09:12] Riruk commented on #150
#149

[2021-05-11 09:24] copernico commented on #150
Another rule could be something like:
- the advisory mentions a file (or class) and a given candidate is the only one (or one of the few..) that touches that file (class)

[2021-05-11 09:38] chicxurug commented on #134
This needs a candidate commit, so it should go into the ranking module.

[2021-05-11 09:38] chicxurug commented on #129
This needs a candidate commit, so it should go into the ranking module.

[2021-05-11 09:47] copernico commented on #150
Another obvious one:
- the Advisory mentions the commit at hand

NOTE: this is not conclusive per-se (some advisories point to commits that contain changelog changes, not the actual code fixes...)

[2021-05-11 10:17] copernico commented on #132
I guess this feature would be very useful for a manual rule...

[2021-05-11 10:19] copernico opened #151 "Endpoint `nvd/vulnerabilities` does not work when running the server from docker"
It does work if the server is run outside of docker.

[2021-05-11 10:20] copernico commented on #150
As for the naming: I guess we could settle on calling these just "rules" (implying "manually-defined", or "handcrafted"),
unless the context might cause ambiguity.

[2021-05-11 15:11] copernico commented on #151
Fixed with 42d58ff281a54589fc2eaa7e05e1c39d5f808964

[2021-05-13 15:54] copernico commented on #143
You are totally right, we cannot use both `@dataclass` and `pydantic.BaseModel`, and I think we should stick to the latter.

The validator approach suggested in the issue you referred to seems to work, but I find it a bit convoluted (for me, initialization and validation are two different concepts...); do you have some code to show how it would look like if we adopted it in our project?

[2021-05-17 13:53] copernico commented on #150
Hi @Riruk, any progress on this issue?

[2021-05-17 13:53] copernico commented on #136
Hi @Szamos96, isn't this implemented already? If so, can we close this issue?

[2021-05-17 13:54] copernico commented on #123
Hi @Szamos96, isn't this implemented already? If so, can we close this issue?

[2021-05-17 14:09] Riruk commented on #150
Hi @copernico, I was a bit busy last week with a paper. It's submitted now, so I will come back to working on the prospector tool from tomorrow

[2021-05-18 08:20] copernico commented on #134
- in commit_processor: extract difference **in seconds**
- in filter_rank: we do all scaling,normalization, etc..

[2021-05-18 08:30] copernico commented on #133
- We might want to use something like `requests_cache`.
- (OPTIONAL, OPTIMIZATION) Also we might want to have an allow-list of pages or domains that we consider (and ignore all the rest)

[2021-05-18 08:41] copernico commented on #132
Todo: take a look at how this was done in Daan's implementation

[2021-05-18 08:49] copernico commented on #126
[thesis_daan_hommersom_page_37.pdf](https://github.com/SAP/project-kb/files/6499779/thesis_daan_hommersom_page_37.pdf)

[2021-05-18 08:52] #123 closed

[2021-05-25 08:51] #143 closed

[2021-05-25 14:06] Riruk commented on #150
What about adding a rule "contains text in commit message"?

[2021-05-25 14:09] idarav opened #158 "Cannot build docker image for rest backend"
By executing the ```docker-compose up -d --build``` command, I get the following output and the process stucks at that point.

[code]

Do you have any idea what could go wrong?
Thank you

[2021-05-25 15:19] #118 closed

[2021-05-26 05:18] idarav commented on #158
Hi @copernico , I'm using Windows 10 but the docker service (20.10.6) is installed in WSL Ubuntu 20.04.2 LTS.
How can I check the docker-compose version? I didn't find a solution for that.

Note: the problem I described above didn't always exist with this setup. My guess is something got cached or corrupted. I tried the following procedure, but didn't help: https://docs.tibco.com/pub/mash-local/4.

[2021-05-26 07:05] chicxurug opened #159 "Rename CommitFeatures to CommitWithFeatures"
As agreed on the last meeting, let's rename the CommitFetaures object so that it names is a singular noun: CommitWithFeatures.

[2021-05-26 11:58] copernico commented on #158
Let's ignore docker-compose for now. Coul you please try the following (to be executed in the `prospector` directory):

[code]

[2021-05-26 14:56] copernico commented on #150
The "text" would be a keyword extracted from the advisory? If so, yes, definitely a useful rule.

[2021-05-27 06:17] idarav commented on #158
After issuing ```coker system prune```, for the ```docker build -f docker/worker/Dockerfile docker/worker``` I got the following results:
[code]

But for the ```docker build -f docker/api/Dockerfile .``` command the executions stucks. No output, just waiting.

[2021-05-29 07:24] copernico commented on #159
This is already implemented in #161

[2021-05-29 07:24] #159 closed

[2021-05-29 07:24] copernico commented on #150
Work continues in #161

[2021-05-31 07:38] idarav opened #163 "Error on installing project"
I installed a new Ubuntu distro in WSL, so I wanted to setup the project again. I followed the steps described in https://github.com/SAP/project-kb/blob/prospector-assuremoss/prospector/README.md#setup-for-development-and-demonstration-purposes-only , but at the step ```pipenv install --dev``` I get the following error:

[code]

It proposes that I should add the ```psycopg2-binary``` instead of th

[2021-05-31 07:44] copernico commented on #163
Could you try removing `psycopg2 = "*"` and leaving only `psycopg2-binary = "*"`?

[2021-05-31 07:51] idarav commented on #163
It worked! Thank you!

[2021-05-31 08:07] copernico commented on #163
Thanks to you for spotting this bug!
Feel free to make a PR with this fix.

[2021-05-31 08:08] copernico opened #164 "API /commits/<REPOSITORY> does not work if a proper URL is given as repository"
Steps to reproduce: save preprocessed commits to the backend then try to retrieve them with this API by using a URL as the `repository` parameter

[2021-05-31 10:29] #163 closed

[2021-05-31 10:31] copernico commented on #158
Hi, could you post the full output and the exact command that I should run to (try to) reproduce?

[2021-05-31 10:44] copernico commented on #150
I think we need to elaborate on the representation of the results to be shown to the user before proceeding.
I would propose that, after the candidates are obtained from Git and they are processed to compute their features, we apply one or more "analysis" steps that produce "annotations" to be attached to the candidates. The user will then be able to inspect the results by seeing which "annotation

[2021-05-31 10:48] #129 closed

[2021-05-31 10:48] #134 closed

[2021-05-31 14:28] copernico commented on #150
One point I'm not quite sure how to handle is the conceptual distinction between the above annotations and the features computed with the extract_* functions. In some sense, they look the same. Maybe, the annotations are what the user will see...?

[2021-06-01 08:29] copernico opened #167 "API /commits/ to be improved"
The API should take as input a set of commit IDs and produce in output a set of preprocessed commits retrieved from the DB (they should be `None` if they are not in the DB).

This improved API will be used here: https://github.com/SAP/project-kb/blob/prospector-assuremoss/prospector/client/cli/prospector_client.py#L158

[2021-06-02 07:21] #164 closed

[2021-06-02 15:17] copernico commented on #136
See #153

[2021-06-02 15:18] #126 closed

[2021-06-02 15:18] #113 closed

[2021-06-02 15:33] copernico opened #170 "Cannot retrieve preprocessed commits from backend"
To reproduce:
1. ensure the DB and backend are running
2. Run the tests (`pytest`): these will create entries in the DB, in particular:

[code]

3. Open the open-api tool at [http://localhost:8000/docs#/commits/get_commits_commits__repository_url__get](http://localhost:8000/docs#/commits/get_commits_commits__repository_url__get).

4. Try to retrieve the commits for https://github.com/apache/dubbo.

[2021-06-02 15:37] copernico commented on #170
Sorry, my bad, I must have been using a mix of docker containers and manually run backend, so most likely the backend could not "see" the DB.
Maybe worth investigating whether the error message spit by the backend in that case is appropriate, but that's for another issue :-)
Case closed.

[2021-06-02 15:43] copernico commented on #170
Reopening because the unexpected behaviour happens even when starting DB+backend with docker compose...
Also, the 3 tests below fail for me:

[code]

[2021-06-02 15:46] copernico commented on #170
Found it: it was due to a regression that I myself introduced accidentally in 40de59.
This is fixed in c4aa0dd4995869b9147deb56928a2737709f7d46

[2021-06-02 15:46] #170 closed

[2021-06-02 17:30] copernico commented on #158
I made some (unrelated) changes to the docker-related files for the backend, could you try again and see if they had the side-effect of removing the issue you experienced?

[2021-06-03 06:34] idarav commented on #158
Thank you for the update! Unfortunately, I just reinstalled my WSL system, so I can't confirm that your changes fixed my original issue. But, I don't have any problems since the reinstall, so the original issue is probably irrelevant from now.

[2021-06-03 06:51] copernico commented on #158
Good, I will close this for now then.

[2021-06-03 06:51] #158 closed

[2021-06-03 15:01] #167 closed

[2021-06-03 17:04] copernico opened #171 "API to retrieve preprocessed commits fails to unmarshal"
[code]

See also the discussion at the end of  #169

[2021-06-03 22:19] amilankovich-slab commented on #171
Would it be too radical to store the commit_id, repository and the whole json object in the DB instead of partitioning it to all the parameters? Do we take any advantage of storing the parameters separately? Currently we just search for the commit hashes, but any other processing is in memory in the form of the Commit objects as far as I know.

[2021-06-04 07:08] copernico commented on #171
I see your point and indeed, to meet the requirements of the _current_ client implementation, we do not even need a relational DB: we could just store the json data for each commit in a separate file and just retrieve that.

However, I think that serving more complex queries (for example, on the content of the diff, or on the dates, etc) is highly desirable for our future developments.

Still, I b

[2021-06-04 07:13] copernico commented on #171
I guess we need to use the `parse_obj` helper:

https://pydantic-docs.helpmanual.io/usage/models/#helper-functions

[2021-06-04 10:49] copernico commented on #171
After reviewing the code a bit, I think that "architecturally" the problem is in `PostgresCommitDB`, in particular in the `lookup` function. We did not specify a type hint for its return value and that allowed some confusion to build up.

Now, that class is supposed to provide a storage abstraction for data model objects that need to be persisted; as such, `lookup` should not just return some stri

[2021-06-07 10:14] #136 closed

[2021-06-07 10:15] amilankovich-slab commented on #171
I agree to handle this as closely to the DB operations as possible. I was able to match pydantic and stored types except the `hunks`, for which I made custom code to unmarshal in commit in merge request #173. However, I don't like that I had to use `eval` for that, do you have any better suggestion?

[2021-06-07 11:09] MagielBruntink opened #174 "YAML for CVE-2020-13954 seems to be missing the notes field"
https://github.com/SAP/project-kb/blob/406246ed7afe95002d51ccf3afbb365de945dd49/statements/CVE-2020-13954/statement.yaml#L2

Should be (?):
[code]

[2021-06-08 09:01] copernico commented on #174
Hi @MagielBruntink , thanks for reporting this. As a matter of fact, the `notes` field is not considered mandatory in the current scheme. I would agree that having notes is a good practice, and in many (most? all?) of the other existing statements we do have notes; however, I am wondering if it is actually valuable to have notes that only replicate the exact same text that one can get from the cor

[2021-06-08 09:06] MagielBruntink commented on #174
@elanzini What do you think of this? Is it useful to have the notes fields typically, or would you obtain that data elsewhere?

[2021-06-08 10:13] elanzini commented on #174
I agree with @copernico that unless the data adds some new information, it is pointless to report it again.

But this issue is just about the formatting of the statement. Usually, `links` are listed under notes (e.g. [CVE-2021-22696](https://github.com/SAP/project-kb/blob/vulnerability-data/statements/CVE-2021-22696/statement.yaml)) but in [CVE-2020-13954](https://github.com/SAP/project-kb/blob/vu

[2021-06-08 11:23] copernico commented on #174
My apologies, I did not get the point, sorry!

Indeed, notes can be (free-form) "text" or "links". Neither "links" nor "text" can be at the top-level, you are absolutely right, the 'notes' node is not optional in this case!

[2021-06-08 12:00] Riruk commented on #150
Work continues in #175

[2021-06-09 13:39] #171 closed

[2021-06-09 14:23] copernico opened #176 "Prospector client crashes"
This command executed on the code from commit b9ebec11d3b52500f7aab7f87b4005ccc934a6d7
[code]
gives the following:

[code]

[2021-06-09 16:21] copernico opened #178 "Endpoint `GET /commits/<repository>` does not work"
No matter what repository I specify as the `repository` mandatory argument, I get the following stack trace on the server side
(and no results on the client side, only an HTTP 500)

[code]

[2021-06-09 16:23] amilankovich-slab commented on #178
Is the server running in the same environment? That password missing error
is very suspicious.

On 2021. Jun 9., Wed at 18:21 Antonino Sabetta ***@***.***>
wrote:

[2021-06-09 16:26] copernico commented on #178
Yes
[code]

You mean that the endpoint works fine on your machine?

[2021-06-09 16:28] amilankovich-slab commented on #178
Yes on my previous commit branch the endpoint and client communicated
successfully, all pytests tests pass.

On 2021. Jun 9., Wed at 18:26 Antonino Sabetta ***@***.***>
wrote:

[2021-06-09 16:28] copernico commented on #178
Ah, ok, probably I know what's going on here: I must have started the docker-compose command *outside* of the pipenv shell, and as a result, several required environment variables were not set.

[2021-06-09 16:30] amilankovich-slab commented on #178
That is a plausible solution. Was it also on issue #176?

On 2021. Jun 9., Wed at 18:28 Antonino Sabetta ***@***.***>
wrote:

[2021-06-09 16:32] copernico commented on #178
The issue was not that I was outside of the pipenv shell (for the records: that is not required), but that I had an outdated `.env` file, which missed the necessary variables. I am making some further tests, and if they succeed I will close this.

[2021-06-09 16:35] copernico commented on #178
Now with this `curl -X 'GET' \
  'http://localhost:8000/commits/https%3A%2F%2Fgithub.com%2Fcloudfoundry%2Fuaa' \
  -H 'accept: application/json'`

I get the following:

[code]

[2021-06-09 16:38] copernico commented on #178
.. and with this (note: the commit does exist in the DB):

`http://localhost:8000/commits/https%3A%2F%2Fgithub.com%2Fcloudfoundry%2Fuaa?commit_id=680876a27b226e01d8599ca1f379cbe90b0cbc91`

I get this:
[code]

[2021-06-09 16:59] amilankovich-slab commented on #176
I must have missed to clear the data from the DB to run into this error. The proposed fix seems to solve the issue.

[2021-06-09 17:04] amilankovich-slab commented on #178
For me FastAPI returned the commit details for that commit hash: `curl -X 'GET' \
  'http://127.0.0.1:8000/commits/https%3A%2F%2Fgithub.com%2Fcloudfoundry%2Fuaa?commit_id=680876a27b226e01d8599ca1f379cbe90b0cbc91' \
  -H 'accept: application/json'`

[2021-06-16 08:25] geryxyz opened #180 "Providing HTML output for Prospector CLI client"
The goal is to provide an easy-to-read, user-friendly static HTML output, which lists the candidate commits determined by the Prospector CLI client.

The solution should be easily reconfigurable to ease the integration of new (not yet provided) data. To that end, I suggest using the [Jinja templating engine](https://jinja.palletsprojects.com/en/3.0.x/), which allows creating (or even customize) HT

[2021-06-16 08:56] copernico commented on #180
I agree that Jinja is the way to go; I would add that, ideally, the report should be as single self-contained file.

[2021-06-16 09:30] copernico opened #181 "Investigate additional sources of information to enrich CommitWithFeatures"
For example:
- https://www.variot.eu/2020/03/11/creation-of-iot-vulnerabilities-and-exploits-databases/

[2021-06-16 12:44] copernico opened #182 "pytest fixture issue "fixture 'requests_mock' not found""
[code]

[2021-06-17 06:40] #176 closed

[2021-06-17 06:42] copernico commented on #178
Fixed in 2f6592d28875dad72801060036aae0eb866e1559 or earlier.

[2021-06-17 06:42] #178 closed

[2021-06-17 06:44] copernico commented on #147
Or maybe a less sophisticated approach could be just checking if two commit messages are the same. Not perfect but useful (and it can be replaced with a more advanced method later on).

[2021-06-17 06:46] copernico commented on #174
If you make a PR I will merge it immediately, thanks!

[2021-06-17 07:05] copernico opened #184 "extract_referred_to_by_pages_linked_from_advisories too strict when comparing commit ids"
The function extract_referred_to_by_pages_linked_from_advisories() checks for strict equality between
the candidate commit's 40-digits ID and the content found in pages linked from advisories; however, it is common to see commits mentioned using only the first 8, 10, or 12 digits. I propose that the function is changed to be more tolerant and return a valid match as soon as the first 8 digits matc

[2021-06-17 15:36] idarav commented on #184
I think you are right, we could be more lenient on this matter. I'll change the implementation to compare only the first 8 digits.

[2021-06-18 06:27] idarav opened #187 "Add filtering for requests of feature 'referred to by pages linked from advisories'"
Add a basic allowed-list filtering for the current implementation.

[2021-06-21 06:55] geryxyz opened #189 "report unreachable or invalid URLs extracted from advisory records"
The tool currently checks all available URLs in the advisory records, but sometimes the sites are unavailable or change their interface. Right now, if any of the sites failed to retrieve, then the client crash, and the process stops. I suggest checking if the site is available, and if not, the client needs to report the error and let the process continue with the other sites.

The currently implem

[2021-06-21 07:45] copernico commented on #189
Hi, I would say that the expected behaviour is:

[code]

The user will inspect the log and, if appropriate, will adjust the allow-list

[2021-06-21 07:57] #187 closed

[2021-06-21 08:02] copernico opened #190 "Refactor CommitWithFeatures based on the new "rule" mechanism"
Now that we have rules, that are basically used to make commit features (or the result of some reasoning on those features) visible to the user, maybe some of the computation that we do upfront to produce certain features could be pushed to rules.
See also: https://github.com/SAP/project-kb/issues/150#issuecomment-851528020

@amilankovich-slab @Riruk @chicxurug What are your thoughts on this?

[2021-06-21 08:02] Szamos96 opened #191 "The versions in advisory records are extracted from the description, not optimal to use as an exact git tag."

[2021-06-21 08:03] copernico commented on #191
Hi @Szamos96 , did you take a look at the sample code I provided (in Frontendart's fork) to address this issue?

[2021-06-21 08:07] chicxurug commented on #191
Thanks, we already have the fix using the existing get_tag_for_version function. I'll create PR in a moment.

[2021-06-21 08:22] copernico commented on #191
Thanks for this fix!

[2021-06-21 08:22] #191 closed

[2021-06-21 08:34] geryxyz commented on #189
Okay, I will do it according to this.

[2021-06-21 08:47] #174 closed

[2021-06-21 09:07] Riruk commented on #190
I definitely support this idea. Otherwise, we perform double computation: first in feature_extractor (to compute the result of a rule), second in the filter_rank module (to generate the explanations).

I'd propose that the output of feature_extractor returns all the necessary information for generating the explanation. For example, extract_changes_relevant_path rule could return the list of change

[2021-06-21 09:10] copernico commented on #190
@Riruk indeed, many features that are now booleans should return the 'raw' information instead wherever possible, so that the logic of how to convert that into a meaningful label for the user is differed until the presentation step.

[2021-06-21 09:25] chicxurug commented on #190
I also agree with this. These are the current feature extractor functions and here are the proposal how to change their return values. Do you agree? Also, what should be the return values instead of the "?"s?

- extract_references_vuln_id (bool) -> ?
- extract_time_between_commit_and_advisory_record (int) -> ?
- extract_changes_relevant_path (bool) -> return the list of changed paths
- extract_oth

[2021-06-21 14:12] #133 closed

[2021-06-22 06:47] geryxyz commented on #180
I like to implement this if it is okay for everyone (and there is no other issue with higher priority). But I rather avoid reimplementing the same feature, which already in progress by someone else.

[2021-06-22 09:09] chicxurug commented on #182
We double-checked on two machines and tests passed on both (see attached report).
Does "pipenv install --dev" executed successfully?

![image_2021_06_22T08_58_36_804Z](https://user-images.githubusercontent.com/6328262/122897363-3a0e7a00-d34a-11eb-83a6-a4b6e26c7be6.png)

[2021-06-23 08:08] geryxyz opened #195 "Introducint multi level logging logic"
My suggestions:

1. Introduce CLI arg to specify logging level. eg. https://stackoverflow.com/questions/57192387/how-to-set-logging-level-from-command-line
2. Use https://docs.python.org/3.8/library/logging.html for any future logging.
3. Keep current implementations in place.
4. Introduce module-specific loggers as needed
[code]

tl;dr

There are two distinct goals for logging: to inform the end-

[2021-06-23 08:23] geryxyz opened #196 "Use type safe asserts for (unit) testing"
Consider the following code chunk.

[code]

My opinion is that this is a bad and discouraged practice, since the final assert disguise any implicit type conversions. For example in the case when the SUT is changed like in the case of  https://github.com/SAP/project-kb/issues/190

I suggest preferring the type safe version for every assert statement during testing (even in the case of boolean asser

[2021-06-23 08:42] geryxyz opened #197 "Move unit tests in there specific module based on their goals"
As far as I know, there are two kinds of test cases in the codebase. The classical unit tests and the ones used to provide a sample usage for the features. This latest one show some similarity to automatic end-user or integration tests. Currently, these are mixed into the same module (into the same py file). My suggestion is to move these later ones into their dedicated module and specify their de

[2021-06-23 08:50] geryxyz opened #198 "Consider disabling coverage for testing"
Right now, the coverage measurement is enabled for pytest-based testing. I fail to find any current usage of this information during the development process. However, I may miss something. By my experiment, this option makes it impossible to use any breakpoint in VSCode during test debugging. See this issue https://github.com/microsoft/vscode-python/issues/693
A workaround to disable the coverage

[2021-06-23 09:15] geryxyz opened #199 "Refactor unit test for feature extraction"
Refactor unit tests in the https://github.com/SAP/project-kb/blob/prospector-assuremoss/prospector/commit_processor/test_feature_extractor.py to meet common unit test related best practices, like single assertion per test and AAA structure, etc.

[2021-06-23 13:12] copernico commented on #195
@geryxyz I like this approach, thank you!

As for the example of the unreachable website, I expect it to go in the log for sure but also to appear in the normal output, because after all that is not such an extraordinary event (a website can timeout, and the user should know that it has not been taken into account in the analysis)

[2021-06-23 13:14] copernico commented on #199
I agree on having better tests (and better coverage); perhaps, I would not be too strict on one-assert-per-test because in some cases that may lead to an unnecessary duplication of very similar tests.

[2021-06-23 13:15] copernico commented on #198
Indeed I have the --no-cov in my settings.json :-)
I use the coverage reports to monitor the situation from time to time. How could we do that in a better way?
I'm open to alternative solutions.

[2021-06-23 13:17] copernico commented on #197
I absolutely agree, we should distinguish them. The integration tests could be moved to files named `test_integration_******.py`

[2021-06-23 13:18] copernico commented on #196
Agreed!

[2021-06-25 13:02] geryxyz opened #200 "Incorrect logic or return type specification in `extract_path_tokens`"
In the https://github.com/FrontEndART/project-kb/blob/dd182a91cc535f9e050f035670ccc481bf73f420/prospector/datamodel/advisory.py#L116 method, the declaration states that it will return a `List[str]`. However, it creates a `List[List[str]]`. I think the root cause is the first `re.split` call in the returned list comprehension. This value will be put into the paths attribute of the AdvisoryRecord, w

[2021-07-02 07:53] geryxyz opened #201 "Tests should not set properties of CommitWithFeatures which are overwritten in __init__"
There are several properties of CommitWithFeatures, which are calculated during the __init__ function. But the constructor allows to set these values as parameters, hence they will instantly be overwritten. For example: `n_changed_files`, `references_ghissue`.

[2021-07-02 08:58] geryxyz commented on #180
I created a sample implementation. https://github.com/FrontEndART/project-kb/tree/feature/geryxyz/jinja-templating
The generated report does not display all the properties of the commits yet. I plan to extend the current version with additional properties if this scheme and layout are acceptable.

[test_report.zip](https://github.com/SAP/project-kb/files/6753396/test_report.zip) The report was tes

[2021-07-05 12:44] #189 closed

[2021-07-06 08:26] copernico commented on #200
- the paths should be a flat list (not a list of lists)
- you can use the description from https://nvd.nist.gov/vuln/detail/CVE-2021-29425 as test data
  - the token `FileNameUtils.normalize` should end up in the paths list

[2021-07-06 09:05] geryxyz commented on #201
We have to drop all data members, which are computed from other data members in the CommitWithFeature. These changes should be done in a separate PR.

[2021-07-06 09:15] geryxyz opened #202 "Introducing Jaccard based path comparison for evaluation"
Since we extract path-like chunks from natural text, there is a chance that we found something which is not a path but contains path-related information. The plain string operation could be error-prune when matching those chunks to real paths. We could try the following algorithm and see if it yields better results.

1. split path-like strings by separator tokens (like, . \ /, etc)
2. calculate th

[2021-07-06 09:18] geryxyz commented on #180
Report feedback:
    Show the list of the rules that match at the top of the page (let's make them switchable)
    Instead of just the commit message add a bit richer content (definitely the rules that you expand it shows the explanations)
    The matched rules are included in the CommitWithFeatures annotations field (key is the name of the rule)

[2021-07-07 10:10] #201 closed

[2021-07-07 10:20] geryxyz opened #205 "Replacing stray logging logics left over from legacy implementation"
Since PR #204 introduced common settings for loggers, it is a good idea to replace old logging logic in all packages with the new system.

[2021-07-08 07:52] copernico commented on #196
@geryxyz can we close this issue, based on your work in #194?
If not, what remains to be done?
Thanks!

[2021-07-08 07:54] copernico commented on #195
@geryxyz can we close this issue, based on your work in #204?
If not, could you itemize what remains to be done?
Thanks!

[2021-07-09 07:28] geryxyz commented on #196
I think yes, at least I am unaware of any non-safe asserts in the code. For the record, they are quite tricky and time consuming to locate since in most of the case the test pass because the implicit conversions kick in. I.e. the problem is with the semantic of the test case, not the implementation.

[2021-07-09 07:30] geryxyz commented on #195
Yes, I close it. Maybe the automatic closing does not register the connection.

[2021-07-09 07:30] #195 closed

[2021-07-13 07:58] copernico opened #207 "Validate Prospector on existing vulnerability data"
Select 10-20 CVEs (from project-KB data) and run prospector on them; document the outcome, discussing in particular why prospector was successful or unsuccessful in each example.

Data here: https://github.com/SAP/project-kb/tree/vulnerability-data/statements

These are the 2021 statements available in project-kb at this time, we could start from these and post below our comments about the shortco

[2021-07-13 08:35] #190 closed

[2021-07-13 08:41] copernico opened #208 "Create a separate file for "developer guidelines""
Take all developer-oriented instructions and guidelines out of the top-level (prospector) readme.md file.
Add to that file the recommendation about how to write good tests (e.g. no implict type casts in assertions).

[2021-07-13 08:42] copernico commented on #196
See #208

[2021-07-13 08:42] #196 closed

[2021-07-13 08:42] #184 closed

[2021-07-13 08:43] copernico commented on #182
That did the trick, thanks!

[2021-07-13 08:43] #182 closed

[2021-07-13 08:44] copernico commented on #198
Please add this issue to the developer guidelines (see #208 )

[2021-07-13 08:46] #150 closed

[2021-07-13 08:49] copernico commented on #132
similar/related to #202

[2021-07-13 08:50] #132 closed

[2021-07-13 08:50] copernico commented on #108
duplicate of #204

[2021-07-13 08:50] #108 closed

[2021-07-15 09:00] copernico commented on #180
Well done @geryxyz !

This is a great baseline to start using the tool in practical cases and identify possible improvements; I have a few ideas, I will open separate tickets for them.

[2021-07-15 09:00] #180 closed

[2021-07-15 09:21] copernico opened #210 "Include essential information from advisory record in html report"
The HTML report does not include any data from the advisory record, which makes it hard to interpret the results.
I would include at least the textual description and as many attributes of the AdvisoryRecord class as possible.

[2021-07-15 09:25] copernico opened #211 "Add more details to HTML report"
- [x] I know that this is not possible in general, but we should at least detect if the repository is on github (which is true for the overwhelming majority of cases) and just concatenate `repo_url + '/commit/' + commit_id`.
Ideally, we can treat in the same way gitlab and maybe one or two more common cases. For the rest (if any??) the current behaviour shall stay.
  - NOTE: right now there is an

[2021-07-15 13:58] copernico commented on #210
Work has started with 4dec7b717a95e21dcdcffc5e56303ee13cf7fceb

[2021-07-19 16:28] copernico opened #214 "Implement essential rules"
These should all be more or less straightforward by now:

- [x] #222
- [x] #225
- [x] #223
- [x] #224
- [x] commit message contains some code tokens extracted from the advisory page
- [x] commit diff contains some code tokens extracted from the advisory page
- [x] commit message contains security-related keywords or substrings (such as: vuln, secur, exploit, inject, xxe, insecur, dos,...)
- [x] #2

[2021-07-20 07:21] copernico commented on #205
Done with #213

[2021-07-20 07:21] #205 closed

[2021-07-20 08:11] copernico opened #215 "enable setting loglevel for backend via env variable"
See files:

- api/main.py
- docker/api/Dockerfile
- docker-compose.yml

This might also be relevant: https://philstories.medium.com/fastapi-logging-f6237b84ea64

[2021-07-20 08:26] #200 closed

[2021-07-20 08:43] copernico commented on #211
@geryxyz

[2021-07-20 10:30] copernico commented on #214
The case of https://nvd.nist.gov/vuln/detail/CVE-2021-29425 is tricky:

the "human solution" is as follows:

The advisory contains a link to Jira ticket IO-556, which is itself a duplicate of IO-559, which in turn is used to annotate "the right commit" (2736b6fe0b3fa22ec8e2b4184897ecadb021fc78). Note: no commit is annotated with IO-556 (which is marked as a duplicate, hence has not fix in itself).

[2021-07-20 10:38] copernico opened #216 "It is impossible to specify an open-ended version interval"
For example, CVE-2021-27582 states that version 1.3.3 is vulnerable, but that is the last available. In this case, the commit interval should be left "open" to the right (that is, find all commits after the tag corresponding to 1.3.3 until today).

This CVE would be rather easy to solve, if it weren't for this shortcoming of the current CLI, since the "right" commit is listed right in the advisory

[2021-07-21 13:25] copernico commented on #210
See also #211

[2021-07-21 13:27] copernico commented on #207
# CVE-2021-29425

`python client/cli/main.py CVE-2021-29425 --use-nvd --repository https://github.com/apache/commons-io --report html`

Solved easily with rule `TOKENS_IN_COMMIT_MSG` (only one commit matches, the right one)

[2021-07-22 07:53] copernico opened #221 "[proposal] Architectural rework of feature extraction and rule application"
It has become evident that the role of feature extraction and rule application is somewhat overlapping; in some cases we had to deal with duplication of code because a feature extraction routine would do more or less the same that would be needed for a rule, but not quite in the exact same way...

Also, in these first few months of the "Prospector 2" development, the priority has shifted from a pu

[2021-07-22 21:15] copernico commented on #211
@geryxyz I noticed that you did get the necessary rights ;-) Good!

[2021-07-23 07:19] copernico opened #222 "new rule: commit is linked from the advisory page"

[2021-07-23 07:19] copernico opened #223 "new rule: commit message mentions explicitly the vulnerability ID"

[2021-07-23 07:20] copernico opened #224 "commit message contains identifier of bug tracking issue linked from the advisory page"

[2021-07-23 07:20] copernico opened #225 "new rule: commit id is mentioned in some page linked from the advisory"
We should get the content of the web pages linked from the advisory and collect all references to commits; this set of commit ids (note: they could be "short" ids) is then used to match candidates.

[2021-07-23 07:20] copernico opened #226 "new rule: commit changes a file whose path contains one or more "code tokens""
commit changes a file whose path contains one or more "code tokens" extracted from the advisory text (for example, see: https://nvd.nist.gov/vuln/detail/CVE-2021-30468; in that case, the token `JsonMapObjectReaderWriter` is key to finding with high accuracy the right commit)

[2021-07-23 07:28] copernico opened #227 "Infer repository url from advisory"
If we could extract the name of the affected project from the advisory, we could then try to propose the user a repository url, without them specifying one.

This can be based on a mapping table between "project names" and repositories, of which an initial example is given in https://github.com/SAP/project-kb/blob/prospector-assuremoss/prospector/data/project_metadata.json

For this to work we nee

[2021-07-23 09:26] copernico opened #229 "Implement json report"
See #228

[2021-07-23 10:28] copernico commented on #223
This is already implemented in `apply_rule_references_vuln_id`

[2021-07-23 10:28] #223 closed

[2021-07-23 11:28] copernico commented on #211
@geryxyz what about we include jquery? some more dynamic behaviour will be very useful later on...

[2021-07-23 13:55] geryxyz commented on #221
Just for a side note for proposal#3. If we end up stuffing all extracted properties or data into the `annotations` dict, I think it will be a dynamic-typed nightmare. The keys of the dictionary are hard to checked by any IDE or developer and since the type of their value could vary it is also hard to spot any bug, and with the "help" of some of the implicit type conversion maybe impossible.

I sug

[2021-07-23 14:02] geryxyz commented on #211
If you ask my personal opinion is not to include JS anywhere 😄

TL;DR

To be honest I have a quite bitter relationship with JS and any related libs (i.e. I actively disliked them 😉). To that end I never ever used JQuery, and I do not think that it is something that could be learned in a couple of nights. So I am not competent to decide that. I know that Bootstrap announced that they do not require

[2021-07-23 14:02] geryxyz commented on #211
Yes. Thank you.

[2021-07-23 14:31] copernico commented on #211
I agree on this principle ;-)

I share these concerns re JS, we can already agree that it would be used to serve specific user needs. Talking of which, I am trying to use Prospector as much as possible and I am developing a few more rules to serve concrete "cases" I am experiencing in practice. The more I use the report the more I am convinced that it would make a considerable difference if one co

[2021-07-23 14:56] copernico commented on #221
Good points; however annotations are just pairs (RULE_ID, TEXTUAL_EXPLANATION), so they are pairs of string essentially so far. The problem you refer to will only happen if we decide to put more complex structures in there, which I do not see the need for, at this time. I agree that if we go down that route, we will have to use types to our advantage.

But I would not touch that with this refactor

[2021-07-23 15:01] #226 closed

[2021-07-23 15:02] copernico commented on #229
Done in 8a5a9e2ffb401eba0e6356bdc246b26c5e4c72d5 (from #228)

[2021-07-23 15:02] #229 closed

[2021-07-23 17:28] copernico commented on #210
Closing in favour of #211

[2021-07-23 17:28] #210 closed

[2021-07-26 05:36] geryxyz commented on #211
I began to implement these features. To avoid reimplementing the same feature more than once, could others wait before I ship my PR about my version?

[2021-07-26 08:29] copernico commented on #211
Sure, go ahead, I do not expect to be coding much in the next couple of weeks.

[2021-07-27 09:30] geryxyz opened #231 "add to the report some information about the tool execution"
- [x] total execution time
- [x] execution time of each "phase"
- [x] count of all commits considered (the commits extracted from git, before filtering; a count of `candidates` here: https://github.com/SAP/project-kb/blob/prospector-assuremoss/prospector/client/cli/prospector_client.py#L100)
- [x] number of rules enabled
- [x] number of rules that matched

[2021-08-04 09:05] geryxyz commented on #231
I work on this. It is on the way! The first incremental prototype will be finished next week, presumably at the beginning.

[2021-08-30 08:16] geryxyz commented on #202
Do you mind if I use pandas DataFrames to store some metrics? Right now it seems more natural to handle this kind of info.

[2021-09-01 13:05] #221 closed

[2021-09-01 13:06] #98 closed

[2021-09-07 09:01] copernico commented on #214
@geryxyz : mentioning you, in case you want to take a  look ;-)

[2021-09-07 09:14] copernico opened #241 "Commit processing is too slow"
On the example run (see command line below), it took as long as 8 seconds per candidate; let's do some profiling to determine what to do next (for example, optimize some extractors, disable some, or even introduce more sophisticated mechanisms to only enable extractors that are actually used by the enabled rules).

`python client/cli/main.py cve-2020-5421 --use-nvd --repository https://github.com/

[2021-09-13 21:43] copernico commented on #241
I tried to comment out the computation of most of the fields of CommitWithFeatures and now, when preprocessed commits are found in the backend, it is very fast.

My conclusion: we should take a look at the features that we compute and that are not used by any rule: we should convert those feature extraction routines to rules wherever it makes sense. Also, the feature extraction functions that use

[2021-09-15 12:05] copernico commented on #241
Things are considerably improved with 3122cb62de42919d67aff8f6659ab68d6c2c1f71
(the expensive preprocessing is now done on-demand from the rules, instead of upfront for all features, some of which where never used so far)

[2021-09-15 12:05] #241 closed

[2021-09-15 13:10] copernico commented on #199
This is obsolete by now, the module in question no longer exists, following the most recent refactorings

[2021-09-15 13:10] #199 closed

[2021-09-15 13:11] copernico commented on #231
@geryxyz Can we close this? if not, what is missing? Thanks!

[2021-09-16 07:56] copernico opened #245 "Change default behaviour: client should abort if there is no backend"
Currently the client proceeds silently if the backend is not reachable, however it is easy for the user to overlook the corresponding message.

To avoid confusion, the current default behaviour should be changed so that:
- by default client should abort if the backend does not respond with a 200
- the user can still change this via suitable switch `--use-backend` whose possible values are: `always

[2021-09-17 06:58] geryxyz opened #247 "introduce low level cache to speed up the computation"
Consider using https://docs.python.org/3/library/functools.html#functools.cache for

- [x] determine which functions would benefit from this (profiling)
- [ ] feature extraction (rule helper functions)
- [ ] rule matching

[2021-09-17 08:50] #222 closed

[2021-09-17 12:26] copernico commented on #247
Good idea, the only downside I see is that that would require python 3.9. May not be an issue after all, just worth keeping in mind.

[2021-09-18 06:59] copernico opened #250 "Use NVD by default on 'cve-*' vulnerabilities"
When the id of the vulnerability starts with 'cve-' or 'CVE-', assume `--use-nvd`
(currently, the flag has to be specified explicitly)

[2021-09-18 15:24] #250 closed

[2021-09-18 20:19] copernico commented on #225
Working on this one right now...

[2021-09-19 16:54] #225 closed

[2021-09-19 16:57] copernico opened #254 "new rule: commit msg refers to bug tracking issue which is mentioned in a page linked from the advisory"

[2021-09-19 16:57] copernico opened #255 "new rule: commit msg refers to bug-tracking issue that mentions the vulnerability ID at hand"
Additional variant (as a separate rule): the bug-tracking issue contains security-related keywords

[2021-09-19 17:00] copernico commented on #255
As initial steps, this requires implementing the following:

- knowing where to find bug-tracking issues for a given project (via a mapping table)
- fetching and analyzing and storing the content of the bug-tracking issue in an attribute of the commit object

[2021-09-19 17:13] copernico opened #256 "extraction of advisory keywords extracts too much"
The extraction of advisory keywords (aka special tokens, aka code tokens) extracts too many tokens which in turn confuse rule such as TOKENS_IN_DIFF.

For example, in "Apache Commons IO", the token "IO" is extracted, and it matches so many candidates that it defeats the purpose of the TOKENS_IN_DIFF rule.

Also, the current definition of "special tokens" (or whatever we may call them) encompasses

[2021-09-20 08:33] geryxyz opened #257 "guard rewritten properties in the analyze function for advisory recored with asserts"
This small change will prevent a lot of false-positive or negative test case execution.
For example, in the test:
+ set property A
+ call the analyze
  + silently change/rewrite property A
+ assert/use property A (expect to be as you set)
  + assert may will fail or pass incorrectly

[2021-09-20 08:35] copernico opened #258 "Pass options to rule functions"
Currently rules take as input `(Commit, AdvisoryRecord)`, but we sometimes need additional information (e.g., what "tokens" the user considers irrelevant for a "good" candidate and hence should prevent a particular rule from matching).

Solution: extend the signature with another parameter that contains the info that *might* be used by any rule. The signatures should anyway be identical for all ru

[2021-09-20 08:36] copernico opened #259 "Use NER in advisory record analysis"
We could use spacy named entity recognition (NER) to have a more accurate extraction of relevant pieces of info, such as
project name, version ids, etc...

[2021-09-20 19:37] copernico commented on #259
Take a look at #260 for an initial example

[2021-09-20 19:43] #231 closed

[2021-09-20 19:44] copernico commented on #144
life's too short, closing

[2021-09-20 19:44] #144 closed

[2021-09-20 19:45] copernico opened #261 "add API to get list of CVEs by year"

[2021-09-20 22:07] copernico commented on #256
See also #259

[2021-09-20 22:19] copernico commented on #258
To be clarified: how would the CLI command look like when using this proposed improvement?
@Riruk  could you provide a couple of examples that could guide us in the design of a proper mechanism and data structure?

[2021-09-20 22:20] copernico commented on #256
For the time being, this is solved with a list of stop-words (hardcoded, for now) in the `TOKENS_IN_DIFF` rule.

[2021-09-21 06:40] copernico opened #263 "Improve products gazetteer"
It would be useful to grow our existing (small) gazetteer of product names so that we can improve our ability to automatically detect project names (and as a consequence, to automatically provide the user with the right git repository, with no need for them to indicate it manually).

The existing gazetteer is in `datamodel/gazetteers/products.jsonl` in #260 (more precisely here: https://github.com

[2021-09-21 06:40] copernico commented on #259
A related issue is #263

[2021-09-22 12:56] copernico opened #264 "Unable to get candidates for CVE-2020-13952"
This command line gets 0 candidates:
`python client/cli/main.py CVE-2020-13952 --repository https://github.com/apache/superset --tag-interval 0.37.1:0.37.2`

TODO: investigate the GIT history structure in this particular project, maybe our GIT heuristics may require tweaking.

[2021-09-22 13:05] copernico commented on #264
Found the issue:

[code]
Changing that to '*.py' gives 24 candidates, as expected.

[2021-09-22 13:25] copernico commented on #264
Conclusion: the good news is that the "right commit" is among a small set of 24. The bad news is that all we can do is use GIT history traversal but none of the rules seem to make a big difference when it comes to determining which one of the 24 candidates is 'the one'. This case turns out to be a particularly difficult one because the advisory is (deliberately?) vague, the commit with the fix doe

[2021-09-22 13:29] #264 closed, assigned to nobody

[2021-09-22 13:30] copernico commented on #264
A possible improvement suggested by this case is to implement a rule that detects "security-related keywords" in the resources pointed to by the commit message, in this case https://github.com/apache/superset/pull/10451, which reads:

[2021-09-22 13:32] copernico commented on #255
Variant: the referenced resource contains 'security-related' keywords (that could help with #264)

[2021-09-22 16:27] copernico opened #265 "fetch pages (jira issues, PR, GH issues) referred to by the commit message"
This will allow us to write more powerful rule that reason about the content of those external pages (GH issue, Jira tickets, pull requests).

This is best done in the `datamodel.commit` module, by converting the existing fields that point to references from lists to dictionaries (we want to keep a map from the identifier of the resource to its content, so that when we find a match, we can tell wh

[2021-09-27 08:06] copernico opened #266 "Update advisory::analyze() to implement "union" semantics of user-provided data"
Update the analyze() function so that when the user provides explicitly data for the following fields, they are
merged (via union operation, aka `extend()`) with the results of the `extract_*` functions.

- self.affected_products
- self.paths
- self.keywords
- self.references

**Exceptions**:

- license: if the user specifies it, bypass the invocation to `_guess_license()`

[2021-09-27 08:06] copernico commented on #257
Obsolete, since #266

[2021-09-27 08:06] #257 closed

[2021-09-27 08:19] copernico commented on #256
At this time, while a proper NLP-based solution is not ready yet, it would be acceptable to have the `extract_special_terms` function always return an empty tuple (--> the user will have to explicitly provide keywords on the command line, which requires #266 to be implemented)

[2021-09-27 09:28] copernico commented on #259
Related (recent) research: https://arxiv.org/pdf/2108.06590.pdf

[2021-09-28 08:53] geryxyz commented on #211
I think it is deprecated so it could be closed.

[2021-09-28 08:53] #211 closed

[2021-09-29 09:51] #266 closed

[2021-09-30 12:15] geryxyz commented on #256
I will do this workaround today in a separate PR.

[2021-10-02 07:33] copernico commented on #265
Hi @amilankovich-slab for the preliminary work on this, would you be able to confirm the overall feature described in this issue is completely implemented, or is there anything missing? (In the former case, we could close this.)

[2021-10-03 13:07] amilankovich-slab commented on #265
Hi @copernico, the fix intended to take care of the whole issue. We can close this.

[2021-10-03 13:48] copernico commented on #265
I tried to run a sample analysis and it failed as follows, I suspect it might be related to your changes, could you take a look?

[code]

[2021-10-03 17:56] copernico commented on #265
Ok, the above is most likely due to the fact that the DB contains data in a format that is incompatible with the new code; i will try wiping out the DB and retry as soon as I get a chance to do so.

[2021-10-04 06:47] amilankovich-slab commented on #265
Hi @copernico, The command you posted above ran without error on my side. Indeed the DB was empty before running it.

[2021-10-04 07:27] copernico commented on #265
I suspect you did not see the error I saw but your DB stayed empty nonetheless (but that may be because this is a python project
and I had a local change in the client to make the git module pick up commits which change python files, as opposed to just java files as in the default case).

Could you try this one too, this is a java project, so some commits should be saved to the backend:
`python cl

[2021-10-04 07:47] #256 closed

[2021-10-04 07:49] copernico opened #271 "Automatically extract keywords from the advisory"
Currently, the user can specify these keywords manually via the `--advisory-keywords` flag.
The tool should extract them automatically, in addition to allowing the user to indicate them explicitly.

[2021-10-04 09:47] amilankovich-slab commented on #265
I checked out the current prospector-assuremoss branch and it still fills the database with data for the last command you posted.

[2021-10-04 10:16] copernico commented on #265
I found that I could get the same behaviour you observe as soon as I run all the tests once, after having emptied the DB.
The conclusion I'm drawing is that something happens with the tests that is not optional for the tool to work correctly; we should find what it is and make sure that that code is executed by the tool, not only by the tests. Any idea what it could be?

[2021-10-04 10:41] amilankovich-slab commented on #265
From the top of my head there is a db.reset() in commitdb_test.py, which might be a possible cause.

[2021-10-04 12:45] copernico commented on #265
No idea what caused this on my end, but recreating the DB container did the trick.
Closing, thanks for your help!

[2021-10-04 12:45] #265 closed

[2021-10-11 17:45] #254 closed

[2021-10-14 16:20] geryxyz opened #277 "Commit._get_timing_data maybe using commit and author date inconsitently?"
I do not understand the primary goal of the method _get_timing_data https://github.com/FrontEndART/project-kb/blob/23fd207c8b7227db403f0658c0a621f98ee64850/prospector/git/git.py#L597, but I did some research since it was the most time-intensive part of the code (it calls a lot of cmd-execution). I list my findings below.

+ based on [this](https://stackoverflow.com/questions/26492303/what-does-pee

[2021-10-18 08:26] geryxyz opened #280 "Introduce cached version (with param) of the Exec.run() method"
The cache will be disabled by default and could be set true when it is sure that the results do not depend on previous system calls.

[2021-10-25 18:38] #277 closed, assigned to geryxyz

[2021-11-08 09:28] amilankovich-slab opened #283 "Investigate "Saving to backend completed (status code: 422)" warning"
Reproduce with: https://github.com/SAP/project-kb/discussions/279#discussioncomment-1544094

[2021-11-08 09:56] copernico opened #284 "when mapping version to tag, ask user confirmation when mapping is low-confidence"
I guess we should change the "else" here: https://github.com/SAP/project-kb/blob/prospector-assuremoss/prospector/git/version_to_tag.py#L124 to produce a BIG warning instead of trying hard to offer some matching -- the user should provide the mapping manually in this case

[2021-11-08 09:58] copernico opened #285 "detect if user-supplied tag-(or version-) interval could be narrowed down"
Check if the X in X:Y is the previous tag to Y; if not, raise a warning indicating possible alternative X'

[2021-11-08 10:00] copernico opened #286 "make default logging less verbose and more compact"

[2021-11-08 11:57] copernico opened #287 "regular expression for rule REF_JIRA_ISSUE is wrong"
It should only match uppercase identifiers, such as "CAMEL-1234" but not "camel-234"

[2021-11-08 11:58] copernico opened #288 "REF_JIRA_ISSUE should be disabled by default"
This rule is not very informative (for a human consumer, it may be useful for ML applications later on)

[2021-11-08 12:00] copernico opened #289 "interactive mode: have the user validate the mapping of version to tag"

[2021-11-08 12:01] copernico opened #290 "add option `--fixed-tag` and `--fixed-version`"
- add option `--fixed-tag` and `--fixed-version` so that the left-hand version/tag of an interval is inferred by the tool and proposed to the user

[2021-11-09 07:52] geryxyz commented on #280
I tried it several times. I did not change anything else...
Here is my measurement with the raw data as well.
[profile.zip](https://github.com/SAP/project-kb/files/7502901/profile.zip)

I think this issue could be closed since it introduced the cached version of the exec, even it is not yielding any speed up in every case. It is strange thou.

@copernico what do you think?

[2021-11-09 07:56] geryxyz commented on #202
Several parts are implemented and merged, the rest is outdated due to architecture changes.

[2021-11-09 07:56] #202 closed

[2021-11-09 11:49] copernico commented on #280
Not sure how to interpret these results and I would be curious to understand what's going on here.
However, because we do not really have a performance problem from the user standpoint, this is not critical at this time.
I will close this issue, we can come back to this topic later on if necessary.

[2021-11-09 11:49] #280 closed

[2021-11-09 11:50] #258 closed

[2021-11-15 08:11] amilankovich-slab commented on #284
If I remove the current best effort mapping from the else branch we lose some functionality captured by a test: FAILED git/test_git.py::test_get_tag_for_version

[2021-11-15 08:26] amilankovich-slab commented on #284
I can make the test pass by running pytest with the -s flag and supplying the good solution (STRUTS_2_3_9) in interactive mode.

[2021-11-15 09:12] copernico commented on #289
duplicate of #284

[2021-11-15 09:12] #289 closed

[2021-11-15 09:13] copernico commented on #284
We agreed to separate the code implementing the interactive part from the code computing the values (perfect matches, suggestions). Sample (pseudo-)code follows:

[code]

[2021-11-15 11:38] copernico commented on #287
closed with 60c9c63704c765c1f1d53b6b218cec8ffcb1fbf8

[2021-11-15 11:38] #287 closed

[2021-11-15 11:40] copernico commented on #288
Closed with #288 #291

[2021-11-15 11:40] #288 closed

[2021-11-15 15:35] copernico commented on #290
This is a bit trickier than I expected because the function to obtain the "previous tag" is commented out in the current code and would require some rework to be re-integrated. In particular, it currently expects a "git" (repository) object as a parameter, which is then used to get the list of existing tags in the repository and their timestamp. We should obtain this list first and then pass it to

[2021-11-15 17:31] copernico commented on #285
Simpler to implement and as effective: check if the supplied X is indeed the "previous tag" of Y.

[2021-11-17 16:50] geryxyz opened #292 "if the backend only return a list of Nones, it is still reported as preprocessed commit"
I do not know whether this is the expected behavior, but it seems wrong to consider `None`s as `raw_commit_data`.

![image](https://user-images.githubusercontent.com/2602591/142244564-bd019075-f17c-46b6-9085-9e4980602447.png)

[2021-11-17 17:22] copernico commented on #292
I think the problem is simply the position of the logging statement; the commits returned by the backend are checked just below that code and those that are None are added to the list of commits to process (because they are not in the DB).

Moving the logging statement just before this https://github.com/SAP/project-kb/blob/prospector-assuremoss/prospector/client/cli/prospector_client.py#L205 shou

[2021-11-18 11:33] geryxyz commented on #292
So the backend is supposed to give nones as a return? Shouldn't it just return an empty list?

[2021-11-18 14:43] copernico commented on #286
closed with f768a946bcdbce8dbcbcda73f8226207b09cecbf

[2021-11-18 14:43] #286 closed

[2021-11-18 14:47] copernico commented on #292
i asked myself the same question :-)

I guess that having a response that maps each of the requested commit_id to the object corresponding to that commit is handy;
in the special case where all commits are None, this looks a bit of a waste.

I would split this into two parts:
- fixing the wrong behaviour (=reporting the number of requested commits, regardless of whether they were found or not)
- o

[2021-11-19 14:09] amilankovich-slab commented on #283
Issue is caused by the following substring(s) in the request payload: `'jira_refs':{'KARAF-6417': None}`.
According to the response "none is not an allowed value".

[2021-11-22 08:30] copernico commented on #283
Closed with #295

[2021-11-22 08:30] #283 closed

[2021-11-22 09:03] copernico opened #296 "Create a central function to produce user-friendly output (distinctinct from diagnostic logs)"
Example:

[code]

[2021-11-23 09:52] copernico commented on #296
First cut in 1f6c0dcbb1c09456071eb35410f51997b35f652c

![image](https://user-images.githubusercontent.com/2268970/143003116-444035ea-c793-4ce4-81ed-3bcb44cabfae.png)

[2021-11-26 07:41] geryxyz commented on #296
@copernico, sure, I began to work on it right now. To minimize conflict, please let me finish my work before you make any other changes.

[2021-11-26 09:59] copernico commented on #296
Good. You might want to take a look at `rich`, it probably offers all we need (and much more, so let's be cautious not to get carried away with eye candy ;-) )

In action here: https://www.youtube.com/watch?v=4zbehnz-8QU

[2021-11-26 10:38] geryxyz opened #297 "Consider to extract parts of `prospector( )` method into separate methods"
There are several parts of this method, which are denoted with a comment like this:

[code]

I think these should be extracted to improve the readability of this method.
It will also help separate the abstraction layers and prevent the creation of a god method.

[2021-11-26 12:06] geryxyz commented on #296
I will check it. It is always good to learn something new, but I have already implemented a solution.
https://github.com/SAP/project-kb/pull/298
I used the Colorama package.

[2021-12-09 22:09] salome-perez opened #299 "Commit ids to retrieve vulnerable code"
Hi,
I wonder if there is information for commit ids from where the existence of the labeled CVE vulnerabilities can be retrieved for the given repositories? If so, any reference or link to it will be appreciated, thank you!

[2021-12-10 09:17] copernico commented on #299
Hi @salome-perez , could you please elaborate on your question (maybe with an example)? I am not sure I understand it correctly :-(

[2021-12-13 18:56] salome-perez commented on #299
Many thanks for the reply.
Sure!  In the VULAS dataset, each repo_url is linked to CVEx and a commit hash. If the repo_url is checkout at the given commit hash, it will retrieve the version of the repo that ensures the CVExx is fixed (not necessarily the proper fix for all repositories), from my understanding of the paper -- please correct me if I am wrong here. Now, I am looking to work with the

[2021-12-14 09:52] chicxurug commented on #299
Hi @salome-perez, @copernico,

If I may join this conversation, I think what you are looking for @salome-perez are the parent commit hashes of the fixing commits. Source code in the parent version still has the vulnerability that gets fixed by the commit present in the dataset. With a similar intention of working with the vulnerable code (experimenting with vulnerability prediction models) we star

[2021-12-15 08:42] copernico commented on #299
Hi @salome-perez,

I could not add anything to what @chicxurug wrote (thanks for pitching in Peter!), except that the name of the EU-funded project he referred to is AssureMOSS (www.assuremoss.eu).

[2021-12-15 08:44] #296 closed

[2021-12-15 08:46] copernico commented on #290
One way to approach this is to imply an interactive mode, whereby the tool would _try_ to identify the previous tag/version but the user would have to confirm to proceed.

[2021-12-15 09:48] copernico commented on #297
Partly addressed in 2dafb2e

[2021-12-16 16:15] salome-perez commented on #299
Hi @copernico, @chicxurug,
Noted and appreciated your replies!
A follow up question -- If analyzing the sequence of commits  A-> B -> C,

If the fix spans commits B and C, VULAS reports only C.
So how do we know to pick A instead of B to get the vulnerable/buggy version?
And in general, there may be many commits between B and C. Could you expand a bit more on this?

[2021-12-16 16:29] salome-perez commented on #299
Hi @copernico, @chicxurug,
Noted and appreciated your replies!
A follow up question -- If analyzing the sequence of commits A-> B -> C,

If the fix spans commits B and C, VULAS reports only C.
So how do we know to pick A instead of B to get the vulnerable/buggy version?
And in general, there may be many commits between B and C. Could you expand a bit more on how to select indeed the vulnerable/bug

[2021-12-16 16:30] salome-perez commented on #299
Hi @copernico, @chicxurug,
Noted and appreciated your replies!
A follow up question -- When analyzing the sequence of commits A-> B -> C,

If the fix spans commits B and C, VULAS reports only C.
So how do we know to pick A instead of B to get the vulnerable/buggy version?
And in general, there may be many commits between B and C. Could you expand a bit more on how to select indeed the vulnerable/b

[2022-01-31 14:55] copernico commented on #299
Hi Salome, Vulas (Steady) picks whatever a vulnerability statement says it's the fix, which may consist of multiple commits, according to what (human) security expert identified as fix commits.

[2022-02-02 21:49] salome-perez commented on #299
Thank you very much for the update.
Is Steady the name of the work to come from Vulas? Or Vulas dataset itself?

[2022-03-22 17:44] copernico commented on #299
Hi @salome-perez , [Eclipse Steady](https://github.com/eclipse/steady) is the new name of Vulas.

What is usually called the Vulas dataset is best referred to as the "project KB dataset".

[2022-03-22 17:45] #214 closed

[2022-03-22 17:47] #247 closed

[2022-05-18 13:01] #299 closed

[2022-05-18 13:05] copernico opened #307 "Create GUI for Prospector"
The current implementation supports concurrent jobs, but no easy way to create and monitor them, and to consume their results.
Also, the available reports types do not allow the user to select one or more commits and to export them as *statements*.

A richer GUI would help. Here's a sketch of the main views that such a GUI could provide:

![prospector-gui-2022-05-18-1408(1)](https://user-images.gi

[2022-09-20 09:07] sacca97 opened #310 "Export selected commits from html report to yaml statement"
Commit candidates in the prospector html report should be selectable and there should be the ability to export their content as a yaml statement.

[2022-09-20 09:11] sacca97 opened #311 "Implement third-party website lookup for commit references in prospector"
If a CVE advisory contains a link to a third party website with more information it should be checked, it could redirect to the fixing commit.

Alternative: if a candidate commit contains a link to a third party website with references to the CVE-ID it should be checked.

[2022-09-21 08:44] copernico commented on #311
This is possibly a duplicate of #255

@sacca97 please take a look at #255, clarify its scope as needed and close this issue if it is indeed a duplicate.

[2022-09-21 08:46] copernico commented on #311
@sacca97 also, for the sake of completeness, please take a look at #264 (particularly the last message of the discussion), it seems related to this issue.

[2022-09-23 10:23] #135 closed

[2022-09-24 11:19] copernico commented on #292
The first part of the above comment is implemented by now.
The second (optional) part is not, but life's so short....
Closing.

[2022-09-24 11:19] #292 closed

[2022-09-30 09:58] #311 closed

[2022-09-30 10:00] copernico opened #319 "Create new "main" branch (the new "master")"
Check if there are any crucial commits in `master` to be preserved, otherwise `main` could be created from the current `prospector-assuremoss`.

[2022-09-30 10:02] #310 closed

[2022-09-30 10:06] #255 closed

[2022-09-30 10:06] copernico opened #320 "new rule: the referenced JIRA ticket contains 'security-related' keywords"
This might help with #264

[2022-09-30 14:47] sacca97 commented on #319
Check out [this test branch](https://github.com/SAP/project-kb/tree/test-merge-inv)

[2022-10-02 19:39] sacca97 commented on #245
A couple of things:

- If the backend containing the CVE data is not available, the advisory text, links, etc are not retrieved and the corresponding rules are not applied
- Currently the checks on the backend availability are only made in the commit-preprocessing part, so after assembling the advisory

It needs a bit of clarification

[2022-10-03 12:39] sacca97 commented on #146
We can close this once the main branch officially becomes the default one

[2022-10-04 17:08] #319 closed

[2022-10-05 15:23] #146 closed

[2022-10-06 08:41] sacca97 opened #322 "Low reliability of filename extraction from the advisory"
The nlp implementation is half-broken: it is not considering many cases and for this reason some of the rules cannot be applied properly, thus giving a lower relevance score to some commits which modify some relevant file mentioned in the advisory.

Kinda related to #256

[2022-10-06 09:06] copernico commented on #290
It seems that some suitable `git` tricks might help us here.
For instance, this command returns all the commits annotated by some tag, and the branching/parent/child relation among them is also preserved, as far as I understand.

    git log --tags --graph --oneline --decorate --simplify-by-decoration

[2022-10-06 09:39] copernico commented on #322
Can you elaborate on the issue. In particular, could you provide examples of texts that cannot be processed as expected (detailing what was expected unless it's obvious).

By nlp, you mean in general the functions that are used when constructing/processing an advisory record, right?

[2022-10-06 09:43] copernico commented on #322
I guess one way to approach this issue is to clarify what are the types of "tokens" that should be recognised in the advisory text.

I would say they are (at least):

- filename
- method_function_class_or_module name
- other keywords that one can expect to find in the commit message of the fix; examples: the vulnerability type (SQLi, XXS, etc) and the important terms that one would expect to be us

[2022-10-07 13:02] sacca97 commented on #245
Client has now an `--use-backend` option that accepts `always` (default), `never` or `optional` as parameters and aborts/continue accordingly.
This behaviour is only triggered during the commit retrieval process, so when querying the database to get the advisory record if there's no backend the client will try to connect to the Nist CVE API.

[2022-10-07 13:02] #245 closed

[2022-10-07 13:41] #322 closed

[2022-10-07 17:54] copernico opened #325 "SEC_KEYWORD_IN_LINKED_ISSUE does not work as expected"
The rule `SEC_KEYWORD_IN_LINKED_ISSUE` matches every time there is a reference to a PR or issue. The problem is that the keyword `security` is present (twice) in every such page, because the header and the footer have a link to the GitHub security pages. That part of the page should be ignored when using BeautifulSoup to extract the page content.

<img width="1441" alt="Screenshot 2022-10-07 at 19

[2022-10-08 12:37] copernico commented on #320
Hi @sacca97, can we close this?

[2022-10-08 12:47] copernico opened #326 "Backend cannot process request when too many candidates are provided"
I tried to run the following:

`python client/cli/main.py CVE-2021-30468 --use-nvd --repository https://github.com/apache/cxf --report html --max-candidates=3000`

which produces 2346 candidates. The resulting request to the backend is a very long URL, that the backend cannot process correctly. The backend logs look like this:

[code]

[2022-10-08 13:03] sacca97 commented on #320
Nope I didn't implement it yet, but already planned

[2022-10-08 13:12] sacca97 commented on #326
I think we need to find a reasonable threesold and split into multiple requests.
I noticed the same problem also with the 869 commits of:

`CVE-2021-29425 --repository https://github.com/apache/commons-io`

[2022-10-08 13:16] copernico commented on #320
Ok but stop working on weekends :-P

[2022-10-08 14:00] copernico opened #327 "New rule idea to pick important terms from advisory text"
## Motivation

I tried processing CVE-2018-11777 with:

[code]

However, unless the user explicitly indicates that the term "authorizer" is to be considered (e.g. for matching against commit messages or modified paths), the fix commit only gets a low relevance score and is not a the top of the ranking.

## Possible solution

1. Extract the set $S$ of terms from the advisory (maybe apply stemming)

[2022-10-08 14:01] copernico commented on #327
@sacca97 your opinion?

[2022-10-09 13:34] sacca97 commented on #325
Weird, those parts are already excluded, the content of the ghissue_refs is the text contained in the elements with classes "comment-body" or "markdown-title".

[2022-10-10 10:03] #325 closed

[2022-10-10 10:03] #320 closed

[2022-10-10 13:38] copernico commented on #327
Simpler alternative: extract nouns (and maybe verbs) from the advisory, and match commits whose log message contains or or more of such nouns (verbs).

[2022-10-10 13:42] copernico opened #329 "Error when supplying keywords with --advisory-keywords"
When running this: `python client/cli/main.py CVE-2020-11997 --use-nvd --repository https://github.com/apache/guacamole-client --report html --version-interval 1.2.0:1.3.0 --use-backend optional --advisory-keywords=access,history,connection,user,visibility,addresses,permission`

I get this:

[code]

[2022-10-10 14:13] sacca97 opened #331 "Compare "relevant" keywords between the advisory text and the commits messages"
Using spacy to extract nouns, propn or verbs from the advisory and the commits messages and then looking for matches seems a good start to treat difficult candidates that do not match any other rule.

This issue supersedes #327, #271 and #259.

[2022-10-10 14:17] sacca97 commented on #327
Closed as part of #331

[2022-10-10 14:17] #327 closed

[2022-10-10 14:17] sacca97 commented on #271
Closed as part of #331

[2022-10-10 14:17] #271 closed

[2022-10-10 14:17] sacca97 commented on #259
Closed as part of #331

[2022-10-10 14:17] #259 closed

[2022-10-10 16:07] #329 closed

[2022-10-10 17:06] copernico commented on #331
I would try extracting verbs too and applying stemming or lemmatisation.

[2022-10-13 17:35] copernico opened #334 "Improve retrieval of JIRA issues"
While the retrieval of JSON is forbidden by most (all?) Apache projects, the XML format seems available.
Example:
https://issues.apache.org/jira/si/jira.issueviews:issue-xml/ZOOKEEPER-4557/ZOOKEEPER-4557.xml

Interesting: one can restrict the fields contained in the XML response, by appending `field=key&field=summary&field=.....`

Maybe this may make it simpler to also reason about "related" (e.g.

[2022-10-14 07:10] copernico opened #335 "Extraction of keywords from advisory misses some terms"
For example, in [CVE-2019-17567](https://nvd.nist.gov/vuln/detail/CVE-2019-17567):

the term `URL` is not extracted.

Furthermore, this is a good example that shows that verbs should be extracted too: `configured` is not extracted (with the current noun-only approach), but `configuration` appears in some commit messages and it is potentially relevant to identify the fix commit.

[2022-10-14 07:24] copernico opened #336 "Change default behaviour so that all code files are considered"
Some projects, such as Ambari, use a variety of languages so it is cumbersome to have to specify which extensions to consider.

The default behaviour could be changed so that any file from a known code extension is considered (we could take a reasonable list of such extensions as a starting point, e.g. java, c, cpp, h, js, jsp, py, go, rb).

## example: CVE-2020-1936

Ambari is developed in java +

[2022-10-14 07:48] copernico opened #337 "Improve/extend data extraction from advisories"
## Case study: CVE-2020-1936

The description is simply: "A cross-site scripting issue was found in Apache Ambari Views. This was addressed in Apache Ambari 2.7.4.".

Apparently hopeless, except that both of the two links that come with the NVD advisory contain the JIRA identifier `AMBARI-25329`. Bingo!

## Proposal

We should search the text of referenced pages for JIRA identifiers and treat them

[2022-10-14 07:54] copernico opened #338 "Extraction of terms from advisory to be improved"
**Example**

CVE-2020-1936: A **cross-site scripting** issue was found in Apache Ambari Views. This was addressed in Apache Ambari 2.7.4.

**Problem**

A commit with the following commit message will not be detected as matching the "cross-site scripting" part of the advisory text: "AMBARI-25329. Ambari breadcrumbs **xss** vulnerability".

[2022-10-15 21:06] copernico opened #339 "backend container fails, missing spacy language model"
The backend container fails with this message:

[code]

It seems like we forgot to download the spacy language model in the Dockerfile....

[2022-10-16 09:49] sacca97 commented on #338
Related to #337

[2022-10-31 07:59] copernico opened #340 "Add support for configuration files (e.g. use omegaconf)"

[2022-10-31 08:24] copernico opened #341 "Matching of sec-relevant keywords in JIRA pages misses some terms"
E.g. when processing https://issues.apache.org/jira/browse/AMBARI-25329 the token `xss` in the very title of the issue is missed.

Test with:
[code]

![Uploading Screenshot 2022-10-31 at 09.24.23.png…]()

[2022-10-31 09:54] copernico commented on #340
https://omegaconf.readthedocs.io/en/2.2_branch/usage.html#from-command-line-arguments

[2022-11-03 15:54] #147 closed

[2022-11-03 15:54] #339 closed

[2022-11-03 16:07] copernico opened #343 "Missing check for API token for NVD and GH"
When no auth token is provided, continue anyway (since the services allow that) but print a warning message.

Also, print another message when the number of allowed requests is exhausted (so that the user knows why they are getting no results, or unexpected ones)

[2022-11-04 01:35] sap-ospo-bot opened #344 "[rl-reuse_tool-4] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-reuse_tool-4
Explanation: Is it compliant with REUSE rules? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-11-04 08:27] sacca97 commented on #334
Closed by #342

[2022-11-04 08:27] #334 closed

[2022-11-04 08:28] sacca97 commented on #331
Closed by #342

[2022-11-04 08:28] #331 closed

[2022-11-04 08:28] sacca97 commented on #326
Fixed with #342

[2022-11-04 08:28] #326 closed

[2022-11-04 08:28] sacca97 commented on #336
Closed by #342

[2022-11-04 08:28] #336 closed

[2022-11-07 10:45] copernico commented on #344
@sacca97 could you take a look? is this solved now?

[2022-11-07 14:51] sacca97 commented on #344
It **should** be closed with the new PR (omegaconf), locally reuse tool gives no issues

[2022-11-07 14:53] sacca97 commented on #343
Currently only the log shows this, but a console warning will be added in the next pr

[2022-11-08 13:18] sacca97 commented on #216
Once merged [this branch](https://github.com/SAP/project-kb/tree/aggregate-commits-test) it can be closed

[2022-11-08 13:19] sacca97 commented on #215
Closing this as #347 enables this via config file.

[2022-11-08 15:09] #344 closed